<div class="row">
    <div class="col-sm-4">
                <form class="form" ng-submit="doUpload()">

                    <div class="form-group">
                        <file-field class="btn" ng-model="url" preview="previewImage">Select File</file-field>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-sm-4" ng-show="previewImage">
                <h3>Preview</h3>
                <img ng-src="{{previewImage}}" width="200">
                <br>
                {{image.title}}
            </div>
</div>
<div class="col-sm-8">
<ul ng-repeat="image in images">
<li><img ng-src="{{image.url}}"></li>
</ul>
