.adminNav {
    background: $guildBlueDrk;
    margin-top: 30px;
    margin-left: -25px;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 2px 1px 2px #2f3a45;
    -moz-box-shadow: 2px 1px 2px #2f3a45;
    box-shadow: 2px 1px 2px #2f3a45;
}

.chart {
    width: 500px;
    height: 500px;
}

.grid {
    width: 500px;
    height: 250px;
}

/* client/app/main/main.less */

.comment-form {
    .btn-primary {
        margin-top: 7px;
        float: right;
    }
}

.comment-list {
    padding: 0;
    list-style: none;
    header {
        font-size: 16px;
        font-weight: bold;
    }
    li {
        margin: 7px 0;
        padding: 5px;
        border: 1px solid #ddd;
    }
}