<div class="container frontendWrap">
<div class="row">
<div ng-controller="InfoCtrl">

<tr ng-repeat="character in roster.members">
  <td>{{character.name}}</td>
</tr>
<!--          <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>

        <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>

        <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}

        <p><strong>Filter:</strong> {{tableParams.filter()|json}}





        <table ng-table="tableParams" show-filter="true" class="table">
  <tr ng-repeat="character in $data[0].members">
  <td><img ng-src="http://us.battle.net/static-render/us/{{character.thumbnail}}"></td>
  <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{ character.character.name }}</td>
  <td>{{ character.character.class | characterClass }}</td>
  <td>{{ character.character.race | characterRace }}</td>
  <td>{{ character.rank | guildRank }}</td>
  <td>{{ character.character.spec.name }}</td>
   <td>{{ character.character.spec.role }}</td>
  </tr>
  </tbody>
  </table> -->
</div>
</div>
</div>
<!-- {{ guild.data || members}}
<div ng-repeat="character in characters">
<h1>{{character.character.name}}</h1>

</div>
 <li ng-repeat="character in group.data.members"> {{ character.character.name }} </li> -->
