
<div class="container">
<div ng-include="'components/navbar/navbar.html'"></div>
<!-- menu -->
<!--<div data-ng-include=" 'admin/layout/aside.tpl.html' " class="col-sm-2"> -->

<!-- / menu -->

<!-- content -->
<div class="row">
<div id="globalAdminBlock" ui-view="admin">
<h1>Top Shelf Officer Area</h1>
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users | orderBy:'online':true">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user._id}}</span>
        <span class="text-muted">{{user.email}}</span>
        <span class="text-muted">{{user.socketID}}</span>
        <span class="text-muted" ng-show="user.online">Online</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>


</div>
</div>
<!-- /content -->
