.trash {
    color: rgb(209, 91, 71);
}

.list-group-item > .text-muted {
    display: block;
    clear: both;
}

#globalAdminBlock {
    background: #fefefe;
    margin-top: 73px;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    min-height: 900px;
    box-sizing: border-box;
}