<div class="container frontendWrap">


 <div class="streams" ng-repeat="stream in streamsList">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

        <p class="streamName">
        <h4>{{ stream.stream.channel.name }}</h4>
          <a href="//twitch.tv/{{ stream.stream.channel.display_name }}/"><h5>Status:</h5> {{ stream.stream.channel.status }}</a>
        </p>
        <h5>Current Viewers:</h5>{{ stream.stream.viewers }}
       </div>
        </div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
        <img ng-click="showDetails = ! showDetails" src="{{ stream.stream.preview.large }}">
</div>
</div>


    <!-- goes full screen-->
<div class="streamContainer" ng-show="showDetails">
    <object
      type="application/x-shockwave-flash"
        height="{HEIGHT}"
        width="{WIDTH}"
        id="live_embed_player_flash"
        data="https://www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf?channel={{ stream.stream.channel.display_name  }}"
        bgcolor="#000000">

        <param  name="allowFullScreen"
               value="true" />
      <param  name="allowScriptAccess"
                value="always" />
      <param  name="allowNetworking"
                value="all" />
      <param  name="movie"
                value="https://www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf" />
    </object>
    <i ng-click="closeStream()" class="fa fa-times"></i>
</div>
