<div class="container stream">
  <ul>
    <li class="streams" ng-repeat='stream in streams | limitTo:12'>
      <div class="streamWrapper">
        <div class="stream-favorite yes"><i ng-click="favoriteStream(stream.channel.name)" ng-hide="(favorites | filter:stream.channel.name).length > 0" class="fa fa-star"></i></div>
        <div class="stream-favorite no"><i ng-click="favoriteStream(stream.channel.name)" ng-show="(favorites | filter:stream.channel.name).length > 0" class="fa fa-star"></i></div>
        <img ng-click="openStream(stream.channel.name)" src="{{ stream.preview.large }}">
        <div class="stream-info">
          <div class="stream-title">{{ stream.channel.display_name }}</div>
          <div class="stream-viewers">{{ stream.viewers }} <i class="fa fa-eye"></i></div>
        </div>
      </div>
    </li>
  </ul>

  <div class="streamContainer" ng-show="streamActive">
    <object
      type="application/x-shockwave-flash"
        height="{HEIGHT}"
        width="{WIDTH}"
        id="live_embed_player_flash"
        data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ streamName }}"
        bgcolor="#000000">

        <param  name="allowFullScreen"
               value="true" />
      <param  name="allowScriptAccess"
                value="always" />
      <param  name="allowNetworking"
                value="all" />
      <param  name="movie"
                value="http://www.twitch.tv/widgets/live_embed_player.swf" />
    </object>
    <i ng-click="closeStream()" class="fa fa-times"></i>
  </div>
</div>
