
.admin-nav {
  color: #fff;
  transition: color 0.1s ease-in 0s;
  list-style-type: none;
  margin: 0 auto;
  float: right;
}

.admin-nav > ul {
  list-style-type: none;
  margin: 0 auto;
}

.admin-aside {
  width: 100px;
  margin: 0 auto;
}

.menu-item li {
  float: right;
}