/* global styles
===========================*/

$gray-darker: lighten(black, 13.5%) !default;
$gray-dark: lighten(black, 20%) !default;
$gray: lighten(black, 33.5%) !default;
$gray-light: lighten(black, 46.7%) !default;
$gray-lighter: lighten(black, 93.5%) !default;
$brand-primary: #428bca !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$body-bg: #1c1c1c !default;

//** Global text color on `<body>`.
$text-color: $gray-dark !default;

//** Global textual link color.
$link-color: $brand-primary !default;

//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$header-font-family: "bebas-neue", sans-serif;
$font-family-sans-serif: "proxima-nova", Helvetica, Arial, sans-serif !default;
$font-family-serif: "clavo", "Times New Roman", Times, serif !default;
$font-family-base: "proxima-nova" !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;
$font-size-large: ceil($font-size-base * 1.25) !default;

// ~18px
$font-size-small: ceil($font-size-base * 0.85) !default;

// ~12px

$font-size-h1: floor($font-size-base * 2.6) !default;

// ~36px
$font-size-h2: floor($font-size-base * 2.15) !default;

// ~30px
$font-size-h3: ceil($font-size-base * 1.7) !default;

// ~24px
$font-size-h4: ceil($font-size-base * 1.25) !default;

// ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil($font-size-base * 0.85) !default;
$line-height-base: 1.42857 !default;
$line-height-computed: floor($font-size-base * $line-height-base) !default;

$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$guildBlue: rgba(52, 152, 219, 1);
$guildBlueMd: rgba(30, 139, 195, 1);
$guildBlueDrk: darken($guildBlue, 30%);

body {
    padding-top: 60px;
    padding-bottom: 0px;
    font-size: 16px;
    background-image: url("images/bgtexture.png");
    background-repeat: repeat-x, repeat;
}

header {
    padding-top: 50px;
}

.page-header {
    padding-top: 20px;
}

.justify {
    text-align: justify;
}

.globalContentBlock {
    margin-top: -10px;
    background: #fefefe;
    padding-bottom: 20px;
    -webkit-box-shadow: 2px 1px 2px #2f3a45;
    -moz-box-shadow: 2px 1px 2px #2f3a45;
    box-shadow: 2px 1px 2px #2f3a45;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.globalAdminBlock {
    margin-top: 13px;
    background: #fefefe;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 600px;
    -webkit-box-shadow: 2px 1px 2px #2f3a45;
    -moz-box-shadow: 2px 1px 2px #2f3a45;
    box-shadow: 2px 1px 2px #2f3a45;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}