.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;
    img.pull-right {
        width: 50px;
    }
}

@import "global";
@import "header";
@import "icons";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";