<navbar></navbar>
<div class="container nav-padding" ng-controller="ProfileEditController as editProf">

<div class="panel panel-default">
    <div class="panel-heading">
Hello, {{ editProf.Auth.getCurrentUser().name }}</div>
    <div class="panel-body">
      <legend class="legendHeader"><i class="ion-clipboard"></i> Edit Your Profile</legend>
      <form class="form" name="form" ng-submit="editProf.changePassword()" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="editProf.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="editProf.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>

      <button class="btn btn-md btn-warning" ui-sref="account.logout"><i class="ico-user-minus"></i> Logout</button>
      <form role="form"
              name="customOptionsForm"
              ng-submit="submit()"
              ng-fab-form-options="customFormOptions">
            <div class="form-group">
                <label class="control-label">Character (required)
                </label>
                <input type="text"
                       class="form-control"
                       placeholder="Character"
                       ng-model="characterData.name"
                       required>
            </div>
              <div class="form-group">
                <button type="submit"
                        class="btn btn-primary">Submit Form
                </button>
            </div>
        </form>
    </div>
  </div>

</div>
