<div class="col-sm-9">
<p class="lead">
  Applications
  <a ui-sref="appAdmin.add" href="" class="btn btn-default pull-right">
    <i class="glyphicon glyphicon-plus-sign"></i>
  </a>
</p>
<div ng-repeat="application in applications">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-right btn-group">
        <a class="btn btn-default btn-xs" ui-sref="appAdmin.edit({id:application._id})">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a class="btn btn-default btn-xs" ng-click="delete(application)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
      <a ui-sref="appAdmin.item({id:application._id})" href="">{{application.charName}}</a>
    </div>
    <div class="panel-body">
      <pre><h6>Class:</h6>{{application.charClass}}</pre>
            <pre><h6>Spec:</h6>{{application.charSpec}}</pre>
    </div>
  </div>
</div>
</div>