<div class="container" ng-controller="RaidCtrl as raidc">
	<div class="row">
		<div class="card">
      <form role="form" class="form" name="formData" ng-submit="raidc.addRaid()">
				<div class="form-group">
					<label>Raid Name</label>
					<input type="text" class="form-control" ng-model="raidc.formData.raidName" placeholder="MMO-Champ"  required>
				</div>
				<div class="form-group">
					<label>Date</label>
					<input type="text" class="form-control" ng-model="raidc.formData.startDate" placeholder="MMO-Champ"  required>
				</div>
				<div class="form-group">
					<label>Time</label>
					<input type="text" class="form-control" ng-model="raidc.formData.startHour" placeholder="MMO-Champ"  required>
				</div>
				<div class="form-group">
					<label>Raid Zone</label>
					<input type="text" class="form-control" ng-model="raidc.formData.raidZone" placeholder="MMO-Champ"  required>
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" class="form-control" ng-model="raidc.formData.description" placeholder="MMO-Champ"  required>
				</div>
				<div class="col-xs-12">
					<button style="margin-top: 5px" type="submit" class="btn btn-success btn-block">Save <i class="fa fa-save"></i></button>
				</div>
			</form>
		</div>
	</div>
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list" >
					<li ng-repeat="raid in raidc.raids">
						<time datetime="2014-07-20">
						{{raid.startDate}}
						{{raid.startHour}}
						</time>
						<img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
						<div class="info">
							<h2 class="title">{{raid.raidName}}</h2>
							<p class="desc">{{raid.raidDescription}}</p>
							<ul>
								<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> {{raid.raidZone}}</a></li>
								<li style="width:50%;"><span class="fa fa-money"></span> {{raid.organizer}}</li>
							</ul>
						</div>
						<div class="social">
							<ul>
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
