<div ng-controller="SettingsCtrl">
<h3 class="page-header text-center">Edit profile</h3>
<div class="row">
<div class="col-sm-12 col-md-offset-1">
    <div class="col-sm-3 settings-pic">
      <img ng-src="{{ currentUser.picture }}">
    </div>
    <div class="col-sm-8 settings-form">
      <form ng-submit="updateProfile(profile)" class="form-horizontal" name="profile_form" ng-init="profile.email = currentUser.email; profile.name = currentUser.name;" novalidate>
        <div class="col-md-offset-2"><p class="has-error" ng-show="error">{{ error }}</p></div>
        <div class="form-group">
          <label for="email" class="control-label col-sm-1">Email</label>
          <div class="col-sm-5">
            <input type="email" class="form-control" name="email" ng-model="profile.email" required autocomplete="off">
          </div>
          <div class="text-danger" ng-show="profile_form.email.$dirty && profile_form.email.$invalid">
            <small class="error" ng-show="profile_form.email.$error.required">
                  Your email is required.
              </small>
              <small class="error" ng-show="profile_form.email.$error.email">
                  Invalid email.
              </small>
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="control-label col-sm-1">Name</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="name" ng-model="profile.name" ng-minlength="3" ng-maxlength="20" ng-pattern="/^[a-zA-Z\s]+$/" required autocomplete="off">
          </div>
          <div class="text-danger" ng-show="profile_form.name.$dirty && profile_form.name.$invalid">
              <small class="error" ng-show="profile_form.name.$error.required">
                  Your name is required.
              </small>
              <small class="error" ng-show="profile_form.name.$error.minlength">
                      Your name is required to be at least 3 characters
              </small>
              <small class="error" ng-show="profile_form.name.$error.maxlength">
                      Your name cannot be longer than 20 characters
              </small>
              <small ng-show="profile_form.name.$error.pattern">Name can only contain alphabetical characters</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <button class="btn btn-primary" ng-disabled="profile_form.$invalid" type="submit">Update Profile</button>
          </div>
        </div>
      </form>
      <div class="col-sm-offset-1 col-sm-5"><br>
        <button ng-hide="currentUser.facebook" class="btn btn-warning btn-outline btn-sm">Change password</button>  <button class="btn btn-danger btn-outline btn-sm" ng-class="{ 'pull-right': !currentUser.facebook }" ng-click="deleteAccount()">Delete Account</button>
      </div>
    </div>
</div>



  </div>
</div>
</div>
