#side-bar {
  margin-bottom: 35px;
  background-color: $med-gray;
  text-align: left;
}
#application-page {
  text-align: left;
  margin-top: 35px;
}

.applicationRightPanel {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(26, 26, 26, .85);
    color: #fff;
}

.applicationRightList li {
    padding: 10px;
    color: #fff;
}

.app-preview {
  color: #fff;
}
