.applicationForm {
    color: rgb(237, 237, 237);
    font-family: 'Open Sans', sans-serif;
}

.applicationRightPanel {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(26, 26, 26, .85);
    color: rgb(237, 237, 237);
}

.applicationRightList li {
    padding: 10px;
}
