

.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-primary {
  background-color: #4285f4;
}

.btn-primary:hover {
  background-color: #3367d6;
}

.btn-success {
  background-color: #0f9d58;
}

.btn-success:hover {
  background-color: #196c4a;
}

.btn-danger {
  background-color: #db4437;
}

.btn-danger:hover {
  background-color: #b04c3b;
}

.btn-group-vertical .btn {
  margin-bottom: 10px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 2px;
}

.btn-lg {
  font-size: 14px;
}

.btn [class^='ion-'] {
  margin-right: 5px;
}

.btn .fa {
  margin-right: 5px;
}

/*********************
* Social Buttons
*********************/

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: #fff;
  background-color: #0069a4;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}

.btn-foursquare {
  color: #fff;
  background-color: #f94877;
  border: 1px solid #f8215a;
}

.btn-foursquare:hover,
.btn-foursquare:focus {
  color: #fff;
  background-color: #f71752;
}

.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
  background-color: #303030;
}

.btn-yahoo {
  color: #fff;
  background-color: #720e9e;
  border: 1px solid #580b75;
}

.btn-yahoo:hover,
.btn-yahoo:focus {
  color: #fff;
  background-color: #303030;
}
