.panel-default > .panel-heading {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color: $mdGray;
}
.panel-head {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  background-color: $mdGray;
}

.btn .fa {
  margin-right: 5px;
}
