.form-control {
    box-shadow: none;
    border: 1px solid #cecece;
    background: 0 0;
    color: #959595;
    font-size: 14px;
    border-radius: 0;

  &:focus {
    box-shadow: none;
    border: 1px solid $brand-primary;
  }
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;

 &input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: $font-family-sans-serif, sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;

   &:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
    }
  }
}
// IonicIcons
.has-feedback label ~ .form-control-feedback {
  margin-right: 10px;
  margin-top: -10px;
  color: $brand-primary;
}
fieldset[disabled] .form-control, .form-control-wrapper .form-control, .form-control {
    &, &:focus, &.focus {
        &:not(textarea):not(select) {
            height: 50px;
        }
        padding: 0;
        float: none;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid #757575;
        &:disabled {
            border-style: dashed;
        }
    }
}
select.form-control {
    height: 50px;
}
select[multiple].form-control {
    &, &:focus, &.focus {
        height: 85px;
    }
}
