.panel-default > .panel-heading {
  text-shadow: 1px 1px 1px rgba(0,0,0, .004);
  background-color: $med-gray;
}
.panel-head {
  text-shadow: 1px 1px 1px rgba(0,0,0, .004);
  background-color: $med-gray;
}

.btn .fa {
  margin-right: 5px;
}

// Forms ======================================================================

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  padding-left: 4px;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  @include box-shadow(inset 0 -1px 0 #ddd);
  font-size: 16px;

  &:focus {
    @include box-shadow(inset 0 -2px 0 $brand-primary);
  }

  &[disabled],
  &[readonly] {
    @include box-shadow(none);
    border-bottom: 1px dotted #ddd;
  }

  &.input {
    &-sm {
      font-size: $font-size-small;
    }

    &-lg {
      font-size: $font-size-large;
    }
  }
}

select,
select.form-control {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0;
  padding-right: 0\9; // remove padding for < ie9 since default arrow can't be removed
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center;
  @include box-shadow(inset 0 -1px 0 #ddd);
  font-size: 16px;
  line-height: 1.5;

  &::-ms-expand {
    display: none;
  }

  &.input {
    &-sm {
      font-size: $font-size-small;
    }

    &-lg {
      font-size: $font-size-large;
    }
  }

  &:focus {
    @include box-shadow(inset 0 -2px 0 $brand-primary);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  }

  &[multiple] {
    background: none;
  }
}

.has-warning {
  input,
  .form-control,
  input:focus,
  .form-control:focus {
    @include box-shadow(inset 0 -2px 0 $brand-warning);
  }
}

.has-error {
  input,
  .form-control,
  input:focus,
  .form-control:focus {
    @include box-shadow(inset 0 -2px 0 $brand-danger);
  }
}

.has-success {
  input,
  .form-control,
  input:focus,
  .form-control:focus {
    @include box-shadow(inset 0 -2px 0 $brand-success);
  }
}
