.carousel-area {
  margin: 0 auto;
  padding-bottom: 30px;
}

ul[rn-carousel] {
  height: 500px;
  margin: 0 auto;
  width: 1140px;
}

.carousel li {
  background-color: #ccc;
  font-size: 30px;
  height: 100%;
  width: 100%;

}

input.tiny {
  text-align: center;
  width: 50px;
}

.custom-indicator span {
  transition: all .3s ease-in;

  &.active {
    color: $brand-warning !important;
}
}
