$dark:                  #060A0F;
$nav_bg:                $dark;
$nav_border:            darken($nav_bg, 10%);
$sub_nav_bg:            $nav_bg;
$brand-primary:         #3498db !default;

.navbar-brand {
  padding-top: 10px;
  padding-right: 15px;
  max-height: 100%;
  margin-right: 10px;
  line-height: 1em;
}
.navbar-default {
  margin-bottom: 60px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  transition: background 0.1s ease-in-out 0s;
  background-color: #2f3b49;
border-color: #282f38;
-webkit-border-radius: 1px; -moz-border-radius: 1px; -khtml-border-radius: 1px; border-radius: 1px;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;
background-clip: content-box;
-webkit-box-shadow: inset 0 1px rgba(255,255,255,.15), inset 0 -1px rgba(0,0,0,.2); -moz-box-shadow: inset 0 1px rgba(255,255,255,.15), inset 0 -1px rgba(0,0,0,.2); -khtml-box-shadow: inset 0 1px rgba(255,255,255,.15), inset 0 -1px rgba(0,0,0,.2); box-shadow: inset 0 1px rgba(255,255,255,.15), inset 0 -1px rgba(0,0,0,.2);

}

.navbar-fixed-top {
  margin-bottom: 60px;
  transform: translate3d(0, 0, 0);
}
.navbar-nav > li > a {
  font-family: $headings-font-family;
  font-size: $font-size-h4;
  padding-top: 35px !important;
  padding-bottom: none !important;
  border-right: solid 1px rgba(255,255,255, .10);
  &:hover {
    border-bottom: 1px solid $brand-primary;
  }
}
.navbar-nav > li:last-child {
  border-right: none;
}
.page_nav_last {border-right: none;}
.navbar-text {
  padding-top: 15px;
}
