.navbar-brand {
    max-height: 100%;
    padding-right: 15px;
    padding-top: 10px;
    margin-right: 10px;

    line-height: 1em;
}

.navbar-default {
    margin-bottom: 60px;
        color: $tsBlue;
    border-bottom: 1px solid darken(#2f3b49, 10%);
    background-color: rgba(19, 20, 22, .90);
    box-shadow: inset 0 1px rgba(255,255,255,.15), inset 0 -1px rgba(0,0,0,.2);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    border-bottom: solid 1px $tsBlue;
}
.navbar-default .navbar-nav > li > a {
    color: $tsBlue;
    font-size: 18px;
    font-weight: 500;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgb(3, 6, 9);
    color: $tsBlue;
}
.navbar-default .navbar-nav > .active > a:focus {
    background-color: rgb(3, 6, 9);
}

.navbar-nav > li > a {
    padding-bottom: none !important;
    padding-top: 35px !important;
    border-right: solid 1px rgba(255,255,255, .10);
    color: #FFF;
    font-family: 'Khand', sans-serif;
    font-size: 20px;

    &:hover {
        color: #FFF;
    }
}
.navbar-nav li:hover {
    color: #FFF;
    border-bottom: 1px thin $tsBlue;
}
.navbar-nav li:last-child {
    border-right: none;
}

.navbar-text {
    padding-top: 15px;
}
