{
"parser": "babel-eslint",
"env": {
    "node": true,
    "es6": true,
    "jasmine": true,
    "mocha": true
  },
  "globals": {
      "angular": true
  },
  "plugins": [
      "angular"
  ],
"ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "modules": true
  },
"rules": {
    "no-console": 1,
    "no-debugger": 2,
    "quotes": [1, "single", "avoid-escape"],
    "no-shadow": [0],
    "no-underscore-dangle": [0],
    "strict": [1, "never"],
    "no-spaced-func": [1],
    "space-after-keywords": [1],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-unused-expressions": [0],
    "no-use-before-define": [0]
    "angular/ng_di": [2, "function"],
    "angular/ng_empty_controller": [2, true],
    "angular/ng_no_services": [2, ["$http", "$resource", "Restangular"]],
    "angular/ng_module_name": [],
    "angular/ng_no_digest": [2, true],
    "angular/ng_controller_name": [2, "/[A-Z].*Ctrl$/"],
    "angular/ng_definedundefined": [2, true],
    "angular/ng_angularelement": [2, true]
  }
}
