node_modules/
vm/
.vagrant/
bower_components/
.DS_Store
.png
.jpg
.svg
.tmp
.idea
server.key
server.crt
build/
src/server/config/environment/index.js
src/server/config/environment/production.js
src/client/styles/lib/
doc/
src/client/assets/
Notes.md

