.app-pre-text {
  color: lighten($tsblue, 5%);
}
.expandcollapse-item {
  overflow: hidden;
}
.expandcollapse-heading-collapsed {
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
  z-index: 100000000;
}
.expandcollapse-item:first-of-type {
  border-top: 0;
}
.expandcollapse-heading-collapsed p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
.expandcollapse-heading-expanded {
  cursor: pointer;
  z-index: 100000000;
  padding: 15px 20px;
  position: relative;
  color: white;
}
.expandcollapse-heading-expanded p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.expandcollapse-heading-collapsed > span,
.expandcollapse-heading-expanded > span {
  position: absolute;
  top: 25px;
  right: 15px;
  font-size: 20px;
  line-height: 0;
}
.expand-collapse-content {
  padding: 20px;
}
/*
animation:*/
.slideDown.ng-hide {
  height: 0;
  transition: height 0.35s ease;
  overflow: hidden;
  position: relative;
}
.slideDown {
  height: 350px;
  transition: height 0.35s ease;
  overflow: hidden;
  position: relative;
}
.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
  /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display: block!important;
}
.slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
.slideDown.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
.slideDown1.ng-hide {
  height: 0;
  transition: height 0.35s ease;
  overflow: hidden;
  position: relative;
}
.slideDown1 {
  height: 550px;
  transition: height 0.35s ease;
  overflow: hidden;
  position: relative;
}
.slideDown1.ng-hide-remove,
.slideDown1.ng-hide-add {
  /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display: block!important;
}
.slideDown1.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
.slideDown1.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
