// See sections/_news.scss for styles relating to news posts

#home-page {
  padding-top: 25px;
}
.raid-progress {
  background-image: url('../../assets/images/mythic-highmaul.jpg');
  background-size: cover;
  background-position: 50% 95%;
}

.home-right {
  padding-right: 10px;
}
