.home-page--bottom {
  background-color: palette(blue, darker);
  padding-right: 0;
  padding-left: 0;
}

.page-content--home {
  padding: 15px;
  border-radius: 3px 3px 3px 3px;
  background-color: $lt-grey;
}

.home-sidebar {
  min-height: 75vh;
}

.post-detail-image {
	max-width: 1140px;
}

#index-banner {
  height: 179px;
  background-color: $secondary-color;
}

#index-banner .container {
    position: relative; }
#index-banner .header {
    color: #FFF; }
#index-banner h4 {
    margin-bottom: 40px; }
#index-banner h1 {
    margin-top: 16px; }

@media only screen and (max-width : 992px) {
    #index-banner h1 {
        margin-top: 60px; }
    #index-banner h4 {
        margin-bottom: 15px; }
}

@media only screen and (max-width : 600px) {
    #index-banner h4 {
        margin-bottom: 0; }
}
