$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "normalize";
@import "variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";

@import "animations";
@import "components/buttons";
@import "components/icons";
@import "components/navbar";
@import "base/global";
@import "components/recruitmentPanel";
@import "admin/sidebar";
@import "loginSignup";

body {
  background-image: url(http://i.imgur.com/VETTKLG.jpg);
  background-size: cover;
}
.grid {
  width: 800px;
  height: 600px;
}
.btn.btn-primary {
    background: #bb3a3a;
    border: 0;
    border-radius: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

ul.circle {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.circle li {
    position: relative;
    margin-left: 30px;
    padding-bottom: 20px;
}

ul.circle li:before {
    content: "\f111";
    color: #bb3a3a;
    font-family: FontAwesome;
    font-size: 8px;
    line-height: 8px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 100%;
    position: absolute;
    left: -33px;
    top: 5px;
}
// for special page, like 404, sign in, sign up
.body-special {
    #content {
        z-index: 2;
        top: 0;
        left: 0;
    }
}
.form-control {
    box-shadow: none;
    border: 1px solid #cecece;
    background: 0 0;
    color: #959595;
    font-size: 14px;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid $brand-primary;
}

ul.posts {
  list-style: none;
  padding: 20px 5px 20px 20px;
  margin-bottom: 10px;
  list-style-type: none;
  border-radius: 10px;
  //break-inside: avoid;  /*prevents individual posts from breaking to next column*/
}
li.posts {
  margin: 10px 0;
  cursor: default;
}
.taggedEM {
  margin-right: 10px;
  font-style: italic;
}
