//
// Fonts
//

@import
  "bases/fonts",
  "bases/icons";

//
// Utilities
//
@import
  "utilities/variables",
  "utilities/bootstrap",
  "utilities/animations";


//
// Components
//


@import
  "components/buttons",
  "components/forms",
  "components/hero",
  "components/lists",
  "components/table",
  "components/mediaManager";


//
// Sections
//

@import
  "sections/global",
  "sections/streams",
  "sections/navbar",
  "sections/loginSignup",
  "sections/admin/sidebar";

//
// Non-modular
//

.appPreview {
  font-weight: 700;
}


.help-block {
  color: $brand-success;
}
.chart {
 width: 850px;
 height: 500px;
 color: $brand-primary;
}
.textEditor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
.editorPanel{
  margin-bottom: 25px;
  padding: 20px 20px 20px 20px;
}


.taggedEM {
  margin-right: 10px;
  font-style: italic;
}
