//
// Fonts
//

@import "base/settings";
@import "base/fonts";
@import "base/icons";
@import "base/normalize";


//
// Utilities
//

@import "utilities/animations";
@import "utilities/mixins";
@import "utilities/theming";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
//
// Components
//

@import "components/buttons";
@import "components/forms";
@import "components/navbar";
@import "components/applicationForm";
@import "components/tables";
@import "components/card";

//
// Sections
//

@import "sections/global";
@import "sections/homepage";
@import "sections/streams";
@import "sections/rosterHolder";
@import "sections/loginSignup";
@import "sections/recruitmentPage";
@import "sections/recruitingPanel";
@import "sections/profile/editProfile";

.panel {
    background: transparent;
}
.textEditor {
  overflow: hidden;
  font-family: inherit;
  font-size: 100%;
}
.editorPanel{
  margin-bottom: 25px;
  padding: 20px 20px 20px 20px;
}
.list-group-item {
  height: 30px;
}
