//
// Theme
//
@import 'theme/palette';
@import 'theme/global';

//
// Base
//
@import 'base/settings';
@import 'base/fonts';
@import 'base/icons';

//
// Utilities
//

@import 'utils/animations';
@import 'utils/mixins';
@import 'utils/theming';

//
// Vendor
//
@import 'vendor/normalize';
@import 'vendor/bootstrap';
@import 'vendor/andy';
@import 'vendor/animate';
@import 'vendor/ngStrapAdditions';

//
// Layout
//

@import 'layout/grid';
@import 'layout/navbar';
@import 'layout/footer';

//
// Components
//

@import 'components/buttons';
@import 'components/forms';
@import 'components/home-carousel';
@import 'components/asideNav';
@import 'components/applicationForm';
@import 'components/tables';
@import 'components/card';

//
// Sections
//

@import 'sections/rosterHolder';
@import 'sections/home-aside';
@import 'sections/recruitingPanel';
@import 'sections/profile/editProfile';
@import 'sections/adminNews';

//
// Pages
//
@import 'pages/homepage';
@import 'pages/recruitmentPage';
@import 'pages/loginSignup';
@import 'pages/streams';

.box {
  border-radius: 1px;
  margin-top: 0px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  text-align: inherit;
}
.textEditor {
  overflow: hidden;
  font-family: inherit;
  font-size: 100%;
}
.editorPanel{
  margin-bottom: 25px;
  padding: 20px 20px 20px 20px;
}
.list-group-item {
  height: 30px;
}
#main {
  padding-top: 20px;
}
