<div class="backendWrap">
<div class="row" ng-controller="ApplicationListCtrl">
    <!-- Character List & Roster -->
    <button type="button" class="btn btn-default" ng-click="adminRoster.notifyFetchCharacters()">Fetch Data</button>
                <div id="character-roster" ng-controller="AdminRosterCtrl as adminRoster">

                    <div id="characters-div" ng-show="adminRoster.characters.length > 0">
                        <div class="clearfix"></div>

                        <!-- Armory character list -->
                        <div id="member-list" class="col-md-5">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="btn-group pull-right">
                                        <label for="max-level-chk">Max levels only</label>
                                        <input id="max-level-chk" type="checkbox" ng-model="adminRoster.maxLevelOnly">
                                    </div>
                                    <h4>Members of {{guildName}}</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Character</th><th>Level</th><th>Class</th><th>Specialization</th><th>Actions</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center"><input class="form-control" placeholder="Name..." type="text" ng-model="search.name"/></th>
                                                <th class="text-center"><input class="form-control" placeholder="Level..." type="text" ng-model="search.level"/></th>
                                                <th class="text-center"><input class="form-control" placeholder="Class..." type="text" ng-model="search.classLabel"
                                                                               typeahead="class for class in adminRoster.classes | filter:$viewValue | limitTo:5"/></th>
                                                <th class="text-center"><input class="form-control" placeholder="Spec..." type="text" ng-model="search.spec"
                                                                               typeahead="spec for spec in adminRoster.specializations | filter:$viewValue | limitTo:5"></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody style="min-height: 500px;">
                                            <tr ng-repeat="character in adminRoster.getFilteredCharacters() | filter:search:strict | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
                                                <td class="text-center">{{character.name}}</td>
                                                <td class="text-center">{{character.level}}</td>
                                                <td class="text-center"><img class="class-icon img-circle" ng-src="images/{{character.wowClass.name}}.png"> {{character.class.name}}</td>
                                                <td class="text-center">{{character.spec}}</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-default btn-sm" ng-click="adminRoster.addToRoster(character)" ng-hide="adminRoster.hasBeenAddedToRoster(character)">
                                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                        <pagination total-items="adminRoster.getCharacterCount()" ng-model="currentPage" boundary-links="true"
                                                rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                                last-text="&raquo;" num-pages="numPages" maxSize="5" rotate="false"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Roster Details -->
                        <div id="roster-list" class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-right">
                                        <i class="glyphicon glyphicon-trash" tooltip="Clear roster" tooltip-animation="false" ng-click="adminRoster.clearRoster()"></i>
                                    </div>
                                    Roster
                                    <span class="label label-default label-member">
                                        <ng-pluralize count="adminRoster.rosterCount" when="{'0': 'Empty', 'one': '1 member', 'other': '{} members'}"></ng-pluralize>
                                    </span>
                                    <i class="fa fa-users missing fa-lg" ng-show="adminRoster.rosterCount < 10" tooltip="You need at least 10 raiders" tooltip-animation="false" ></i>
                                    <i class="fa fa-users missing fa-lg" ng-show="adminRoster.rosterCount > 30" tooltip="You can't have more than 30 raiders" tooltip-animation="false" ></i>
                                    <i class="fa fa-users available fa-lg" ng-show="adminRoster.rosterCount >= 10 && rosterCount <= 30" tooltip="Your roster size is valid" tooltip-animation="false" ></i>
                                    <i class="fa fa-shield missing fa-lg" ng-hide="adminRoster.getTankCount() == 2" tooltip="You need exactly two tanks" tooltip-animation="false" ></i>
                                    <i class="fa fa-shield available fa-lg" ng-show="adminRoster.getTankCount() == 2" tooltip="You have two tanks" tooltip-animation="false" ></i>
                                    <i class="fa fa-medkit missing fa-lg" ng-hide="adminRoster.validHealerCount()" tooltip-animation="false"
                                       tooltip="You need one healer for every other 4 member. Currently {{adminRoster.getHealerCount()}} healers for {{adminRoster.getNonHealerCount()}} members"></i>
                                    <i class="fa fa-medkit available fa-lg" ng-show="adminRoster.validHealerCount()" tooltip="You have enough healers" tooltip-animation="false"></i>
                                </div>

                                <div class="panel-body">
                                    <div ng-hide="rosterCount == 0">
                                        <div class="col-md-6" style="padding: 0">
                                            <div id="armor-donut" style="height: 200px;"></div>
                                        </div>
                                        <div class="col-md-6" style="padding: 0">
                                            <div id="class-donut" style="height: 200px;"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="panel panel-default" ng-repeat="role in adminRoster.roles">
                                        <div class="panel-heading">{{role.label}} <span class="badge">{{getCount(role)}}</span></div>
                                        <div class="panel-body">
                                            <span class="member-span" ng-repeat="member in adminRoster.get(role)">
                                                <span class="label label-member">
                                                    <i class="glyphicon glyphicon-stop" style="color: {{member.wowClass.color}}"></i> {{member.name}}
                                                    <i class="glyphicon glyphicon-remove remove-roster" tooltip="Remove from roster" tooltip-animation="false"
                                                       ng-click="adminRoster.removeFromRoster(member)"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Buffs -->
                        <div id="buff-list" class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Buffs
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody style="min-height: 500px;">
                                            <tr ng-repeat="buff in adminRoster.buffs">
                                                <td>
                                                    <span ng-show="adminRoster.isBuffMissing(buff)">
                                                        <i class="glyphicon glyphicon-remove missing"></i>
                                                    </span>
                                                    <span ng-show="iadminRoster.sBuffExclusiveAvailable(buff)">
                                                        <i class="glyphicon glyphicon-minus exclu-available"></i>
                                                    </span>
                                                    <i class="glyphicon glyphicon-ok available" ng-show="adminRoster.isBuffAvailable(buff)"></i>
                                                </td>
                                                <td class="text-center">{{buff.name}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                                        <!-- Buffs -->
                        <div id="buff-list" class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Cooldowns
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody style="min-height: 500px;">
                                            <tr ng-repeat="cooldown in adminRoster.cooldowns">
                                                <td>
                                                    <span ng-show="adminRoster.isCDmissing(cooldown)">
                                                        <i class="glyphicon glyphicon-remove missing"></i>
                                                    </span>
                                                    <span ng-show="adminRoster.isCDExclusiveAvailable(cooldown)">
                                                        <i class="glyphicon glyphicon-minus exclu-available"></i>
                                                    </span>
                                                    <i class="glyphicon glyphicon-ok available" ng-show="adminRoster.isCDavailable(cooldown)"></i>
                                                </td>
                                                <td class="text-center">{{cooldown.name}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
</div>
</div>
