<div navbar></div>
<div class="container frontendWrap">

<div class="panel panel-default">
    <div class="panel-heading">
Hello, {{ vm.Auth.getCurrentUser().name }}</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
      <!-- <form method="post" ng-submit="vm.updateProfile()">
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> Battletag</label>
          <input type="text" class="form-control" ng-model="user.battletag" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <button class="btn btn-lg btn-success">Update Information</button>
      </form> -->
    </div>
  </div>

</div>
