.panel {
    border-color: #cfd9D7;
    border-radius: 2px;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}

.panel-default > .panel-heading {
    font-size: 85%;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    background-color: #f6f6f6;
    border-color: #cfd9db;
}

.form-control {
    border-radius: 0;
}

.center-form {
    width: 330px;
    margin: 12% auto;
}

.signup-or-separator {
    position: relative;
    height: 34px;
    text-align: center;
    background: none;
}

.signup-or-separator hr {
    width: 90%;
    margin: -16px auto 10px auto;
    border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
    display: inline-block;
    padding: 8px;
    margin: 0;
    background-color: #fff;
}

.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}

.password-strength-indicator {
    position: absolute;
    top: 10px;
    right: 0;
    width: 5px;
    padding: 0 15px;
}

.password-strength-indicator span {
    display: block;
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
    background: #ebeef1;
    border-radius: 5px;
}

[class^='ion-'] {
    font-size: 1.2em;
}

.has-feedback .form-control {
    padding-left: 42.5px;
}

.alert-material {
    position: fixed;
    right: 12px;
    bottom: 12px;
    z-index: 1;
    display: inline-block;
    min-height: 48px;
    padding: 13px 24px 12px;
    font-family: 'Roboto', sans-serif;
    color: #f1f1f1;
    cursor: default;
    background: #323232;
    border-radius: 2px;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.btn {
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.btn-primary {
    background-color: #4285f4;
}

.btn-primary:hover {
    background-color: #3367d6;
}

.page-signin {
    //
    .signin-header {
        padding: 25px 0;
        background-color: #dfe0e6;
    }
    .logo {
        font-size: 46px;
        font-weight: bold;
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    .loginSignup {
        color: $guildBlue;
        text-align: right;
        font-size: 20px;
    }
    //
    .main-body {
        border-top: 1px solid lighten($body-bg, 2%);
        padding: 20px 10px;
        padding-top: 10%;
    }
    .info {
        padding: 25px 0 0;
        max-width: 420px;
        margin: 0 auto 20px;
        h2 {
            font-size: 18px;
            color: $guildBlue;
        }
    }
    .form-container {
        max-width: 420px;
        margin: 10px auto;
    }
    // Line through
    .line-thru {
        margin: 1em 0;
        display: block;
        font-size: .875em;
        font-weight: bold;
        margin-bottom: 1em;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 1;
        &:before {
            width: 50px;
            height: 10px;
            background-color: $body-bg;
            content: '';
            margin: -5px 0 0 -20px;
            left: 50%;
            position: absolute;
            top: 50%;
            z-index: -1;
        }
        &:after {
            width: 100%;
            border-bottom: 1px solid darken($body-bg, 10%);
            content: '';
            display: block;
            position: absolute;
            top: 49%;
            z-index: -2;
        }
    }
}