<div navbar></div>
<div class="container frontendWrap">
<div class="row" ng-controller="ApplicationCtrl as vm">
 <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</alert>

    <div class="col-sm-12 col-lg-8">
  <h1 class="text-light">Top Shelf <span class="recruitmentWhite">Guild Application</span></h1>
      <form name="applicationForm" novalidate ng-submit="vm.submit(applicationForm.$valid, data)">
  <!-- Char Name -->
  <div class="row">
  <div class="col-md-4 form-group has-feedback"
              ng-class="{ 'has-error' : applicationForm.charName.$invalid && applicationForm.charName.$dirty }">
              <label>Character Name</label>
            <input class="form-control input-lg"
                   type="text"
                   name="charName"
                   ng-model="vm.data.charName"
                   placeholder="Laerel"
                   required>
             <span class="ion-android-contact form-control-feedback"></span>
          <div ng-if="applicationForm.$submitted || applicationForm.charName.$touched"
                ng-messages="applicationForm.charName.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.charName.$error.required">Your character's name is required.</div>
            </div>
          </div>
<!-- ./charName -->
  <div class="col-md-4 form-group has-feedback"
              ng-class="{ 'has-error' : applicationForm.charClass.$invalid && applicationForm.charClass.$dirty }">
              <label>Class Type</label>
            <input class="form-control input-lg"
                   type="text"
                   name="charClass"
                   ng-model="vm.data.charClass"
                   placeholder="Monk"
                   required>
             <span class="ion-flag form-control-feedback"></span>
          <div ng-if="applicationForm.$submitted || applicationForm.charClass.$touched"
                ng-messages="applicationForm.charClass.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.charClass.$error.required">Your class type is required.</div>
            </div>
          </div>
<!-- ./charClass -->
  <div class="col-md-4 form-group has-feedback"
              ng-class="{ 'has-error' : applicationForm.charSpec.$invalid && applicationForm.charSpec.$dirty }">
              <label>Class Spec</label>
            <input class="form-control input-lg"
                   type="text"
                   name="charSpec"
                   ng-model="vm.data.charSpec"
                   placeholder="Brewmaster"
                   required>
            <span class="ion-ios-cog-outline form-control-feedback"></span>
          <div ng-if="applicationForm.$submitted || applicationForm.charSpec.$touched"
                ng-messages="applicationForm.charSpec.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.charSpec.$error.required">Your class spec required.</div>
            </div>
          </div>
  </div>
<!-- ./charClass -->
        <div class="row">
          <div class="col-md-4 form-group has-feedback"
               ng-class="{ 'has-error' : applicationForm.charServer.$invalid && applicationForm.charServer.$dirty }">
            <label>Realm</label>
            <input class="form-control input-lg"
                   type="text"
                   name="charServer"
                   ng-model="vm.data.charServer"
                   placeholder="Sargeras"
                   required>
            <span class="ion-planet form-control-feedback"></span>

            <div ng-if="applicationForm.$submitted || applicationForm.charServer.$touched"
                 ng-messages="applicationForm.charServer.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.charServer.$error.required">Your server is required.
              </div>
            </div>
          </div>

          <div class="col-md-8 form-group has-feedback"
               ng-class="{ 'has-error' : applicationForm.charArmory.$invalid && applicationForm.charArmory.$dirty }">
            <label>Armory</label>
            <input class="form-control input-lg" type="url" name="armory" ng-model="vm.data.charArmory"
                   placeholder="http://us.battle.net/" required autofocus>
            <span class="ion-android-clipboard form-control-feedback"></span>

            <div ng-if="applicationForm.$submitted || applicationForm.charArmory.$touched"
                 ng-messages="applicationForm.charArmory.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.charArmory.$error.required">An armory is required.
              </div>
            </div>
          </div>
          <!-- ./charArmory -->

          <div class="col-md-4 form-group has-feedback"
               ng-class="{ 'has-error' : applicationForm.applicantName.$invalid && applicationForm.applicantName.$dirty }">
            <label>First Name</label>
            <input class="form-control input-lg"
                   type="text"
                   name="applicantName"
                   ng-model="vm.data.applicantName"
                   placeholder="John"
                   required>
            <span class="ion-ios-person form-control-feedback"></span>

            <div ng-if="applicationForm.$submitted || applicationForm.applicantName.$touched"
                 ng-messages="applicationForm.applicantName.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.applicantName.$error.required">Please tell us your
                name.
              </div>
            </div>
          </div>
          <!-- ./applicantName -->
          <div class="col-md-4 form-group has-feedback"
               ng-class="{ 'has-error' : applicationForm.applicantAge.$invalid && applicationForm.applicantAge.$dirty }">
            <label>Age</label>
            <input class="form-control input-lg"
                   type="number"
                   name="applicantAge"
                   ng-model="vm.data.applicantAge"
                   placeholder="18"
                   min="18"
                   required>
            <span class="ion-calendar form-control-feedback"></span>

            <div ng-if="applicationForm.$submitted || applicationForm.applicantAge.$touched"
                 ng-messages="applicationForm.applicantAge.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.applicantAge.$error.required">Your age is required.
              </div>
            </div>
          </div>
          <!-- ./applicantAge -->

          <div class="col-md-4 form-group has-feedback"
               ng-class="{ 'has-error' : applicationForm.applicantRealId.$invalid && applicationForm.applicantRealId.$dirty }">
            <label>RealID</label>
            <input class="form-control input-lg"
                   type="text"
                   name="applicantRealId"
                   ng-model="vm.data.applicantRealId"
                   placeholder="Example#2123"
                   required>
            <span class="ion-ios-flame form-control-feedback"></span>

            <div ng-if="applicationForm.$submitted || applicationForm.realID.$touched"
                 ng-messages="applicationForm.realID.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.realID.$error.required">Your realID is required.</div>
            </div>
          </div>
          <!-- ./realID-->
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error' : applicationForm.charLogs.$invalid && applicationForm.charLogs.$dirty }">
          <label>Warcraft Logs</label>
            <input class="form-control input-lg" type="url" id="charLogs" name="charLogs" ng-model="vm.data.charLogs" placeholder="http://www.warcraftlogs.com" required>
            <span class="ion-android-list form-control-feedback"></span>
              <div ng-if="applicationForm.$submitted || applicationForm.charLogs.$touched"
                ng-messages="applicationForm.charLogs.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.charLogs.$error.required">Logs are required for your application.</div>
            </div>
          </div>

          <div class="form-group has-feedback"
              ng-class="{ 'has-error' : applicationForm.heroicXP.$invalid && applicationForm.heroicXP.$dirty }">
              <label>Heroic Experience</label>
            <textarea class="form-control input-lg"
                   type="text"
                   name="heroicXP"
                   ng-model="vm.data.heroicXP"
                   placeholder="Tell us about your heroic progression experience"
                   required>
          </textarea>
           <span class="ion-trophy form-control-feedback"></span>
            <div ng-if="applicationForm.$submitted || applicationForm.heroicXP.$touched"
                ng-messages="applicationForm.heroicXP.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.heroicXP.$error.required">Your heroic raiding experience is required.</div>
            </div><!--ngMessage-->
          </div><!-- ./heroicXP -->

          <div class="form-group has-feedback"
              ng-class="{ 'has-error' : applicationForm.pastGuilds.$invalid && applicationForm.pastGuilds.$dirty }">
           <label>Guild History</label>
            <textarea class="form-control input-lg"
                   type="text"
                   name="pastGuilds"
                   ng-model="vm.data.pastGuilds"
                   placeholder="Please tell us the most recent guilds you have been a part of. Why did you leave?"
                   required>
          </textarea>
           <span class="ion-ios-albums-outline form-control-feedback"></span>
            <div ng-if="applicationForm.$submitted || applicationForm.pastGuilds.$touched"
                ng-messages="applicationForm.pastGuilds.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.pastGuilds.$error.required">Your guild history is required.</div>
            </div><!--ngMessage-->
          </div><!-- ./pastGuilds -->

          <div class="form-group has-feedback"
              ng-class="{ 'has-error' : applicationForm.screenshot.$invalid && applicationForm.screenshot.$dirty }">
            <label>UI Screenshot</label>
            <input class="form-control input-lg"
                   type="text"
                   name="screenshot"
                   ng-model="vm.data.screenshot"
                   placeholder="http://imgur.com"
                   required>
            <span class="ion-image form-control-feedback"></span>
           <div ng-if="applicationForm.$submitted || applicationForm.screenshot.$touched"
                ng-messages="applicationForm.screenshot.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.screenshot.$error.required">A UI screenshot is required.</div>
            </div><!-- ./ngMessage -->
          </div><!-- ./screen -->


        <div class="form-group has-feedback"
              ng-class="{ 'has-error' : applicationForm.whyTS.$invalid && applicationForm.whyTS.$dirty }">
              <label>Why Top Shelf?</label>
            <textarea class="form-control input-lg"
                     type="text"
                     name="whyTS"
                     ng-model="vm.data.whyTS"
                     placeholder="Please tell us why you want to join Top Shelf? Why should we consider your application over all the others?"
                     required>
          </textarea>
           <span class="ion-help form-control-feedback"></span>
          <div ng-if="applicationForm.$submitted || applicationForm.whyTS.$touched"
              ng-messages="applicationForm.whyTS.$error" class="text-danger">
              <div ng-message="required" ng-show="applicationForm.whyTS.$error.required">Your response is required.</div>
            </div><!-- ngMessage-->
          </div><!-- ./why Top Shelf -->



          <p class="text-center text-muted"><small>Your application will be reviewed within 1-2 days. All fields are required. If you dont see a notification telling you we received your application, it did not submit. You can preview your application as you type it.</small></p>

          <button type="submit" ng-disabled="applicationForm.$invalid" class="btn btn-lg btn-block btn-primary">Apply</button>
          <br/>
        </form>
    </div>
    <div class="col-lg-4">
    <div class="well">
    <h5 class="appPreview">Character Name:</h5><span ng-bind="vm.data.charName"></span>
    <h5 class="appPreview">Character Class:</h5><span ng-bind="vm.data.charClass"></span>
    <h5 class="appPreview">Character Spec:</h5><span ng-bind="vm.data.charSpec"></span>
    <h5 class="appPreview">Character Server:</h5><span ng-bind="vm.data.charServer"></span>
    <h5 class="appPreview">Armory:</h5><span ng-bind="vm.data.charArmory"></span>
    <h5 class="appPreview">First Name:</h5><span ng-bind="vm.data.applicantName"></span>
    <h5 class="appPreview">Age:</h5><span ng-bind="vm.data.applicantAge"></span>
    <h5 class="appPreview">RealId:</h5><span ng-bind="vm.data.applicantRealId"></span>
    <h5 class="appPreview">Logs:</h5><span ng-bind="vm.data.charLogs"></span>
    <h5 class="appPreview">Heroic Experience:</h5><span ng-bind="vm.data.heroicXP"></span>
    <h5 class="appPreview">Guild History:</h5><span ng-bind="vm.data.pastGuilds"></span>
    <h5 class="appPreview">UI Screenshot:</h5><span ng-bind="vm.data.screenshot"></span>
    <h5 class="appPreview">Why Top Shelf:</h5><span ng-bind="vm.data.whyTS"></span>
    </div>
    </div>
  </div>
</div>

    </div>
  </div>
</div>
