<navbar></navbar>

<div class="container-fluid stream">
  <div class="well">
    <div class="streamWrapper streams">
      <img ng-click="openStream(stream.channel.name)" ng-src="{{ stream.preview.large }}">
      <div class="stream-info">
					<div class="stream-title" style="color: #fff;">{{ stream.channel.display_name }}</div>
					<div class="stream-viewers" style="color: #fff;">{{ stream.viewers }} <i class="fa fa-eye"></i></div>
				</div>
    </div>
    <div class="streamContainer" ng-show="streamActive">
      <div class="twitchContainer">
        <object type="application/x-shockwave-flash" height="{HEIGHT}" width="{WIDTH}" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ streamName }}" bgcolor="#000000">

          <param name="allowFullScreen" value="true" />
          <param name="allowScriptAccess" value="always" />
          <param name="allowNetworking" value="all" />
          <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
        </object>
        <i ng-click="closeStream()" class="fa fa-times"></i>
      </div>
    </div>
  </div>
</div>
