/* NAVIGATION
=============================== */
.navbar-pic {
	margin-top: -6px;
	width: 34px;
	height: 34px;
	float: left;
	margin-right: 7px;
}

.navbar .nav > li > a {
    float: none;
    padding: 30px 20px 26px;
    text-decoration: none;
    text-shadow: none;
    font-size: 14px;
    font-weight: bold;
    /*border-top: 10px solid transparent;*/
    border-bottom: 2px solid transparent;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    text-decoration: none;
    background: none;
    border-bottom: 2px solid $guildBlue;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .brand {
    padding: 20px 30px 20px 130px;
    text-shadow: none;
    font-size: 32.5px;
    font-weight: 100;
    margin-right: 30px;
    background: #2BB395;
}
.navbar-default{
background: linear-gradient(to bottom, #121314 0%,#1b2027 100%);
font-family: 'Montserrat';
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {

    -webkit-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
}
