<div ng-controller="ResourceCreateCtrl">
    <form novalidate ng-submit="createResource()">
    <div class="row">
        <div class="col-sm-10">
            <h1>New Resource</h1>
            <h5>Create a new post that displays on the homepage</h5></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <input type="text"
                  class="form-control"
                  placeholder="Website Name"
                  ng-minLength=3
                  ng-maxLength=75
                  ng-model="newResource.websiteName"
                  required/>
        </div>


     <!-- newPost.tags input-->
    <div class="row" style="padding-top:15px;">
    <div class="col-md-3">
        <input type="text"
               class="form-control"
               placeholder="URL"
               ng-model="newResource.websiteUrl"
               />
                   </div>
    </div>
            <!-- Save Btn-->
<div class="row">
    <div class="col-sm-3 col-sm-offset-8" style="padding-top: 15px;">
      <input type="submit" class="btn btn-primary" value="Save Resource" />
    </div>
    </div> <!--./row-->
  </form>
</div>
