<div class="row" ng-controller="AdminUsersCtrl" ng-init="getUsers()">
<!-- content of page -->
<h1>User Management</h1>
<div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th class="tc">
              <input type="checkbox">
              </th>
              <th>Username</th>
              <th>E-mail</th>
              <th>Active</th>
              <th>Last Updated</th>
              <th class="actions">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td class="tc">
              <input type="checkbox" value="{{user._id}}">
              </td>
              <td>{{ user.name }}</td>
              <td> {{user.email}} <span class="label label-primary">{{user.role}}</span></td>

              <td> {{user.activity.lastLogon}}</td>
             <td> {{user.updated_at | date:'medium'}}</td>
              <td class="actions">
              <div class="btn-group">
                <a ui-sref="admin.userDetails"
                 ng-click="selectUser(user)"
                class="btn btn-default btn-primary btn-sm">
                  <i class="fa fa-edit"></i>
                </a>
                <a href="" ng-click="deleteApplication(application)" class="btn btn-default btn-danger btn-sm">
                  <i class="fa fa-trash-o"></i>
                  </a>
              </div></td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
