<link rel="stylesheet" type="text/css" href="components/chatbar/chatbar.css">
    <script type="text/ng-template" id="manage-friends.html">
      <style>
        .modal-body > ul {
          padding:0;
          margin:0;
        }

        .modal-body > ul > li {
          list-style-type:none;
          margin-top:5px
        }
      </style>
      <div class="modal-header">
        <h3 class="modal-title">Manage Friends</h3>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="email@address.com" id="friend-email-input"/> 
        <button 
          class="btn btn-primary glyphicon glyphicon-plus"
          ng-click="request()">
        </button>
        <ul>
            <li ng-repeat="request in requests">
              <button 
                class="btn btn-success glyphicon glyphicon-ok"
                ng-click="accept(request._id)"
                ></button>
              <button 
                class="btn btn-warning glyphicon glyphicon-remove"
                ng-click="reject(request._id)"
                ></button>
              {{ request.name }} 
            </li>

            <li ng-repeat="friend in friends">
              <button 
                class="btn btn-danger glyphicon glyphicon-trash"
                ng-click="remove(friend._id)"
                ></button>
              {{friend.name}}
            </li>
        </ul>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">Done</button>
      </div>
    </script>


<div class="navbar navbar-default navbar-static-bottom chatbar" ng-controller="ChatbarCtrl">
  <div class="active-conversation" ng-show="showConversation">
    {{activeFriendConversation.messages}}
    <ul>
      <li class="chatbox-title">{{talkingTo.name}}</li>
      <li ng-repeat="message in activeFriendConversation.messages">
        {{message.date}}-{{message.name}}-{{message.text}}
      </li>
    </ul>
    <p class="input-group pull-left send-message">
      <input type="text" placeholder="Send Message" class="form-control" ng-model="chatbarMessage" />
      <span class="input-group-btn">
        <button 
          class="btn btn-primary"
          ng-click="sendMessage(activeFriendConversation._id)">
          Send
        </button>
      </span> 
  </div>
  <ul class="conversation-list">
    <li 
      class="conversation" 
      ng-repeat="friend in user[0].friendlist"
      data-friendID="{{friend._id}}">

        <div class="online-indicator" ng-class="{active: friend.online}"></div>
        {{friend.name}}
    </li>
  </ul>

  <button 
    class="btn btn-default" ng-click="open('manage-friends', 'sm')" ng-show="user">
      Manage Friends
  </button>
</div>
