<div id="wrapper" ng-controller="LoginCtrl as login">
	<form autocomplete="off" method="post" name="loginForm" ng-submit="login.login(loginForm)" novalidate>
		<div class="input-wrapper">
			<label for="username"><i class="fa fa-envelope fa-3x"></i></label><input type="text" id="username" ng-model="login.user.email" placeholder="Email" required spellcheck="false">
		</div>
		<div class="input-wrapper">
			<label for="password"><i class="fa fa-lock fa-3x"></i></label><input type="password" id="password" ng-model="login.user.password" placeholder="Password" required>
		</div>
		<div class="input-wrapper">
			<input type="submit" value="Login" ng-disabled="loginForm.$invalid">
			<p>
				<a ui-sref="account.password.forgot">Forgot your password?</a>
				Not a member? <a ui-sref="account.signup">Sign up now</a> <span>&rarr;</span>
			</p>
		</div>
	</form>
</div>
