<navbar></navbar>
<div class="container nav-padding">
<div class="row">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<form id="lsform" name="loginForm" ng-submit="login.login(loginForm)" novalidate>
				<div class="login-form">
					<div class="control-group">
						<input class="login-field" type="email" id="login-name" name="email" ng-model="login.user.email" placeholder="Email" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
						<label class="login-field-icon fui-user" for="login-name"></label>
						<div class="help-block text-danger"
							ng-if="loginForm.username.$dirty"
							ng-messages="loginForm.username.$error">
							<div ng-message="required">You must enter a username.</div>
						</div>
					</div>
					<div class="control-group">
						<input type="password" class="login-field" value=""  ng-model="login.user.password" placeholder="password" id="login-pass" required>
						<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
					<input class="btn-login" type="submit"></a>
					<a class="login-link" ui-sref="account.signup">Need an account? Signup</a>
				</div>
			</form>
		</div>
	</div>
</div>
