    <div class="row" ng-controller="ApplicationCtrl as vm">
      <div class="col-sm-12 col-md-8">
        <div class="well">
        <h1><span style="color:#333;">Top</span> <span class="blue-text">Shelf</span> <small>Guild Application</small></h1>
        <!-- start form -->
        <form role="form"
              name="applicationForm"
              class="form-horizontal"
              ng-submit="vm.submit(vm.formData)"
              ng-fab-form-options="customFormOptions">
          <fieldset>
            <div class="form-group">
            <label class="control-label">Character Name</label>
              <input type="text"
                     class="form-control"
                     placeholder="Laerel"
                     ng-model="vm.formData.charName"
                     required>
            </div><!-- /charname field -->
            <div class="form-group">
              <label>Class</label>
              <select ng-model="vm.formData.charClass"
                      class="form-control"
                      required>
                  <option value=""></option>
                  <option value="DeathKnight">Death Knight</option>
                  <option value="Druid">Druid</option>
                  <option value="Hunter">Hunter</option>
                  <option value="Mage">Mage</option>
                  <option value="Monk">Monk</option>
                  <option value="Paladin">Paladin</option>
                  <option value="Priest">Priest</option>
                  <option value="Rogue">Rogue</option>
                  <option value="Shaman">Shaman</option>
                  <option value="Warlock">Warlock</option>
                  <option value="Warrior">Warrior</option>
              </select>
            </div><!-- charclass -->
            <div class="form-group">
              <label>Specialization</label>
              <select ng-model="vm.formData.charSpec"
                      class="form-control"
                      required>
                  <option value=""></option>
                  <option value="Affliction">Affliction</option>
                  <option value="Arcane">Arcane</option>
                  <option value="Arms">Arms</option>
                  <option value="Assasination">Assasination</option>
                  <option value="Balance">Balance</option>
                  <option value="Beast Mastery">Beast Mastery</option>
                  <option value="Blood">Blood</option>
                  <option value="Brewmaster">Brewmaster</option>
                  <option value="Combat">Combat</option>
                  <option value="Demonology">Demonology</option>
                  <option value="Destruction">Destruction</option>
                  <option value="Discipline">Discipline</option>
                  <option value="Elemental">Elemental</option>
                  <option value="Enhancement">Enhancement</option>
                  <option value="Feral">Feral</option>
                  <option value="Fire">Fire</option>
                  <option value="Frost">Frost</option>
                  <option value="Fury">Fury</option>
                  <option value="Gladiator">Gladiator</option>
                  <option value="Guardian">Guardian</option>
                  <option value="Holy">Holy</option>
                  <option value="Marksman">Marksman</option>
                  <option value="Mistweaver">Mistweaver</option>
                  <option value="Protection">Protection</option>
                  <option value="Restoration">Restoration</option>
                  <option value="Shadow">Shadow</option>
                  <option value="Subtlety">Subtlety</option>
                  <option value="Survival">Survival</option>
                  <option value="Unholy">Unholy</option>
                  <option value="Windwalker">Windwalker</option>
                </select>
              </div><!-- charSpec-->
              <div class="form-group">
                <label class="control-label">Armory</label>
                <input type="text"
                       class="form-control"
                       placeholder="http://us.battle.net/wow/characters/"
                       ng-model="vm.formData.charArmory"
                       required>
              </div><!-- /chararmory field -->
              <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text"
                       class="form-control"
                       placeholder="Joe"
                       ng-model="vm.formData.applicantName"
                       required>
              </div><!-- /firstname field -->
              <div class="form-group">
                <label class="control-label">Age
                </label>
                <input type="number"
                       class="form-control"
                       placeholder="18"
                       ng-model="vm.formData.applicantAge"
                       required>
              </div><!-- /age field -->
              <div class="form-group">
                <label>Timezone</label>
                <select ng-model="vm.formData.applicantTZ"
                        class="form-control"
                        required>
                  <option value=""></option>
                  <option value="PST">Pacific (PST)</option>
                  <option value="MST">Mountain (MST)</option>
                  <option value="CST">Central (CST)</option>
                  <option value="EST">Eastern (EST)</option>
                </select>
              </div><!-- applicantTZ -->
               <div class="form-group">
                  <label class="control-label">RealID
                  </label>
                  <input type="text"
                         class="form-control"
                         placeholder="battletag#123"
                         ng-model="vm.formData.applicantRealId"
                         required>
              </div><!-- /realid field -->
              <div class="form-group">
                <label class="control-label">Logs
                </label>
                <input type="text"
                       class="form-control"
                       placeholder="http://warcraftlogs.com"
                       ng-model="vm.formData.charLogs"
                       required>
              </div><!-- /logs field -->
              <div class="form-group">
                <label>Mythic/Heroic Experience</label>
                <textarea ng-model="vm.formData.heroicXP"
                          ng-minlength="5"
                          class="form-control"
                          required></textarea>
              </div><!-- heroicxp -->
              <div class="form-group">
                <label>Guild History</label>
                <textarea ng-model="vm.formData.pastGuilds"
                          ng-minlength="5"
                          class="form-control"
                          required></textarea>
              </div><!-- heroicxp -->
              <div class="form-group">
                  <label class="control-label">Server
                  </label>
                  <input type="text"
                         class="form-control"
                         placeholder="Sargeras"
                         ng-model="vm.formData.charServer"
                         required>
              </div><!-- /realm field -->
              <div class="form-group">
                <label class="control-label">UI Screenshot</label>
                <input type="text"
                       class="form-control"
                       placeholder="http://imgur.com"
                       ng-model="vm.formData.screenshot"
                       required>
              </div><!-- /screenshot field -->
              <div class="form-group">
                <label>Why Top Shelf?</label>
                <textarea ng-model="vm.formData.whyTS"
                          ng-minlength="5"
                          class="form-control"
                          required></textarea>
              </div><!-- whyTS -->
              <div class="form-group">
                <label class="control-label">Raiding Alt</label>
                <input type="text"
                       class="form-control"
                       placeholder="http://us.battle.net/wow/characters/"
                       ng-model="vm.formData.applicantAlt"
                       >
              </div><!-- /applicantAlt field -->
              <div class="form-group">
                <label>What resources do you use to improve your raid performance?</label>
                <textarea ng-model="vm.formData.applicantSelfImprovement"
                        ng-minlength="5"
                        class="form-control"
                        required></textarea>
              </div><!-- applicantSelfImprovement -->
              <div class="form-group">
                <label>Tell us a joke</label>
                <textarea ng-model="vm.formData.applicantJoke"
                          ng-minlength="5"
                          class="form-control"
                          required></textarea>
              </div><!-- applicantSelfImprovement -->
              <div class="form-group">
                <button type="submit"
                        class="btn btn-success pull-right">Submit Application <i class="mdi-action-assignment-turned-in"></i>
                </button>
              </div>
            </fieldset>
        </form>
      </div>
    </div><!--/column-->
    <aside id="aside" class="application-sidebar col-sm-12 col-md-3 col-md-offset-1">
    <div class="clearfix"></div>
        <div class="box expandcollapse-item">
          <div ng-click="vm.active1 = !vm.active1"
            ng-class="{'expandcollapse-heading-collapsed': vm.active1, 'expandcollapse-heading-expanded': !vm.active1}">
            <h4 class="widget-title"><i class="icon-right-open-big"></i> Application Preview</h4>
          </div>
          <div class="slideDown1" ng-hide="vm.active1">
            <div class="expand-collapse-content">
              <h6 class="app-preview">Character Name:</h6><span class="app-pre-text" ng-bind="vm.formData.charName"></span>
              <h6 class="app-preview">Character Class:</h6><span class="app-pre-text" ng-bind="vm.formData.charClass"></span>
              <h6 class="app-preview">Character Spec:</h6><span class="app-pre-text" ng-bind="vm.formData.charSpec"></span>
              <h6 class="app-preview">Character Server:</h6><span class="app-pre-text" ng-bind="vm.formData.charServer"></span>
              <h6 class="app-preview">Armory:</h6><span class="app-pre-text" ng-bind="vm.formData.charArmory"></span>
              <h6 class="app-preview">First Name:</h6><span class="app-pre-text" ng-bind="vm.formData.applicantName"></span>
              <h6 class="app-preview">Age:</h6><span class="app-pre-text" ng-bind="vm.formData.applicantAge"></span>
              <h6 class="app-preview">RealId:</h6><span class="app-pre-text" ng-bind="vm.formData.applicantRealId"></span>
              <h6 class="app-preview">Logs:</h6><span class="app-pre-text" ng-bind="vm.formData.charLogs"></span>
              <h6 class="app-preview">Heroic Experience:</h6><span class="app-pre-text" ng-bind="vm.formData.heroicXP"></span>
              <h6 class="app-preview">Guild History:</h6><span class="app-pre-text" ng-bind="vm.formData.pastGuilds"></span>
              <h6 class="app-preview">UI Screenshot:</h6><span class="app-pre-text" ng-bind="vm.formData.screenshot"></span>
              <h6 class="app-preview">Why Top Shelf:</h6><span class="app-pre-text" ng-bind="vm.formData.whyTS"></span>
            </div>
          </div><!-- END App Preview slidedown1-->
        </div> <!-- END sidebar app-pre-->
      </aside> <!-- end app aside -->
    </div><!-- END row -->


