footer.site-footer {
    background: none repeat scroll 0% 0% #333;
}

.site-footer {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1) inset;
    background: none repeat scroll 0% 0% #2E3641;
    position: relative;
    color: #FFF;
}

.site-footer #footer-small {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1);
    color: #B8B8B8;
    font-size: 12px;
    padding: 5px 0px;
    text-align: center;
}
