.carousel-area {
  height: 625px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}

ul[rn-carousel] {
  height: 625px;
  margin: 0 auto;
  max-width: 1350px;
}

.carousel li {
  background-color: #ccc;
  font-size: 30px;
  width: 100%;
  max-height: 700px;
}

input.tiny {
  text-align: center;
  width: 50px;
}

.custom-indicator span {
  transition: all .3s ease-in;

  &.active {
    color: $red !important;
  }
}
