.carousel-area {
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 3px 3px 3px 3px;
}

ul[rn-carousel] {
  height: 600px;
  margin: 0 auto;
  min-width: 1350px;
  max-width: 1350px;
}

.carousel li {
  background-color: #ccc;
  font-size: 30px;
  height: 100%;
  width: 100%;

}

input.tiny {
  text-align: center;
  width: 50px;
}

.custom-indicator span {
  transition: all .3s ease-in;

  &.active {
    color: $brand-warning !important;
}
}
