.card-panel {
  padding: 20px;
  margin: 0.5rem 0 1rem;
  border-radius: 2px;
  background-color: #fff;
}
.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem;
  background-color: #fff;
  border-radius: 2px;
}
.card .card-title {
  color: $flat_dark_black;
  font-weight: 300;
    text-transform: uppercase;
}
.card .card-title.activator {
  cursor: pointer;
}
.card.small,
.card.medium,
.card.large {
  position: relative;
}
.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {
  overflow: hidden;
}
.card.small .card-content,
.card.medium .card-content,
.card.large .card-content {
  overflow: hidden;
}
.card.small .card-action,
.card.medium .card-action,
.card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.card.small {
  height: 300px;
}
.card.small .card-image {
  height: 150px;
}
.card.small .card-content {
  height: 150px;
}
.card.medium {
  height: 400px;
}
.card.medium .card-image {
  height: 250px;
}
.card.medium .card-content {
  height: 150px;
}
.card.large {
  height: 500px;
}
.card.large .card-image {
  height: 330px;
}
.card.large .card-content {
  height: 170px;
}
.card .card-image {
  position: relative;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-image .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.card-content:hover &{
  padding: 20px;
  border-radius: 0 0 2px 2px;
    height: 185px + 115px;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content .card-title {
  line-height: 48px;

}
.card .card-img:hover {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
    opacity: 0.6;
  transform: scale(1.2);
}
.card .card-action a {
  color: #ffab40;
  margin-right: 20px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: uppercase;

}
.card .card-action a:hover {
  color: #ffd8a6;
}
.card .card-reveal {
  padding: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}
.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half,
.btn:hover,
.btn-large:hover,
.btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4,
.modal {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
