
.carousel-inner {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  .item {
    height: 650px;

    img {
      width: 100%;
        }
    }
}

.caption {
    bottom: 14%;
    position: absolute;
    text-align: left;

    h3 {
    background: $white;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4em;
  }

  a {
  color: #444;
  transition: color .3s;

  :hover {
    color: #337ab7;
    text-decoration: none;
    }
  }

  p {
    background: $white;
    color: #777;
    font-size: 2em;
    position: absolute;
    width: auto;
  }
}

.carousel-wrap {
  position: relative;
}

.indicators {
  bottom: 10px;
  position: absolute;
  right: 50px;
  text-align: center;
  z-index: 10;

  li {
    background-color: $white;
    border: 1px solid $flat_white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    transition: background .3s;
  }
}
