.recruit-list ul li {
	list-style-type: none;
}

.recruit-list ul {
	list-style-type: none;
}

.boss-killed {
	filter: grayscale(100%);
}

.recruitment-widget {
	background-color: palette(blue, darker);
}

.progression-brf {
	display: inline-block;
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
