footer {
	background-color: #3399cc;//palette(blue, dark);
	margin-top: 20px;
	padding-top: 20px;


.footer-copyright {
	overflow: hidden;
	height: 50px;
	line-height: 50px;
	color: rgba(255,255,255,.8);
  background-color: darken(#3399cc, 3%);
	}
}
