.block-area {
  background-color: $flat_blue;
  color: $flat_dark_black;
  height: 320px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  text-transform: small-caps;
  vertical-align: middle;
}

.block-area-col {
  height: 320px;
  padding-bottom: 80px;
  padding-top: 80px;

  a {
    color: $flat_dark_black;
  }

  &:hover {
    background-color: $flat_dark_black;
    border: 1px solid $flat_dark_white;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tagline h3 {
  color: $flat_blue;
}
