.brand-text {
	display: inline;
	float: right;
	position: relative;
	padding-left: 10px;
	font-size: 1.5em;
	font-weight: 300;
}

.navbar-header {
	display: inline;
}

.navbar {
	background-color: #3399cc;

	& ul li:last-child {
		border-right: none;
		margin-right: 35px;
		}
}

.navbar li a {
	border-right: 1px solid darken($tsblue, 4%);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
	text-transform: uppercase;
	line-height: 20px;
&:hover {
	text-decoration: underline;
	font-weight: 700;
	color: #fff;
	background-color: darken($tsblue, 3%);
	}
}
.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    .divider {
        background-color: rgba(229, 229, 229, 0.12);
    }
    li {
        overflow: hidden;
        position: relative;
        a:hover {
            background: rgba(0,0,0,0.08);
        }
    }
}

.guild-logo {
	height: 60px;
	margin-top: -20px;
	margin-left: 30px;
}
