.brand-text {
	display: inline;
	float: right;
	position: relative;
	padding-left: 10px;
	font-size: 1.5em;
	font-weight: 300;
}

.navbar-header {
	display: inline;
}

.navbar {
	background-color: palette(blue, darker);
}

.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    .divider {
        background-color: rgba(229, 229, 229, 0.12);
    }
    li {
        overflow: hidden;
        position: relative;
        a:hover {
            background: rgba(0,0,0,0.08);
        }
    }
}
