<div navbar></div>
<div class="container frontendWrap">

<div class="row" ng-controller="HomeCarouselCtrl as vm">
    <carousel interval="vm.myInterval">
      <slide ng-repeat="slide in vm.slides" active="slide.active">
        <img ng-src="{{slide.image}}" width="1170px"style="margin:auto;">
      </slide>
    </carousel>
</div>

<div class="row newsContainer" ng-controller="HomeCtrl as vm">
  <div class="col-sm-12 col-lg-9">
    <div class="homeNews"
        ng-repeat="post in vm.posts | orderBy:'-date' | limitTo: vm.postsShownPerView() | filter:searchText">
      <div class="postTitle">
        <h1 class="post-title">{{post.title}}</h1>
      </div>
      <div class="postMeta">
       <h5><i class="ico-calendar2"></i>
       {{post.date | date:'MM/dd/yyyy'}}<span class="sep">|</span>
        Posted by {{post.author.name}}</h5>
      </div>
      <hr />
      <div class="postContent">
        <p ng-hide="showMode" ng-bind-html="post.content | limitTo : 475"></p>
        <p ng-hide="!showMode" ng-bind-html="post.content"></p>
      </div>
      <div class="postFooter">

        <span class="taggedEM"><i class="ico-tags2"></i></span>
        <span ng-repeat="tag in post.tags | postTagsFormat:', ' track by $index">{{tag}}</span>
          <button class="btn btn-primary" ng-click="openViewModal(post._id)" news-view-modal>Read More</button>
      </div>
    </div><!-- end homeNews-->
  </div><!-- end news column-->
  <div class="col-lg-3 recruitingP">
      <recruiting-panel class="recruitmentPanel"></recruiting-panel>
  </div>
</div><!-- end news / recruiting row-->
<the-footer></the-footer>

</div>
