<div navbar></div>
<div class="container frontendWrap">
  <div class="row heroContainer">
    <div class="col-sm-12 col-lg-9" style="padding-top:10px;">
      <img src="assets/images/hero.jpg">

    </div>
    <sidebar class="recruitmentPanel col-sm-12 col-lg-3"></sidebar>
  </div>
    <div class="row" ng-controller="HomeCtrl as vm">
      <div class="col-sm-12 col-lg-6">
      <div class="homeNews"
        style="word-wrap: break-word;"
        ng-repeat="post in vm.posts | orderBy:'-date' | limitTo: vm.postsShownPerView() | filter:searchText">
        <div class="row">
        <div class="well">
            <div class="postTitle">
              <h1 class="post-title">{{post.title}}</h1>
            </div>
            <div class="cal">
              <h4><i class="ico-calendar2"></i> {{post.date | date:'MM/dd/yyyy'}}</h4>
            </div>
            <div class="postContent">
              <p ng-hide="showMode" ng-bind-html="post.content | limitTo : 475"></p>
              <p ng-hide="!showMode" ng-bind-html="post.content"></p>
            </div>
            <div class="postFooter">
              <p>Posted by {{post.author.name}}</p>
              <span class="taggedEM"><i class="ico-tags2"></i></span>
              <span ng-repeat="tag in post.tags | postTagsFormat:', ' track by $index">{{tag}}</span>
                  <button class="btn btn-primary" ng-click="openViewModal(post._id)" news-view-modal>View Entir</button>
                  <h6>Read More</h6>
                </a>
            </div>
          </div>
        </div><!-- ./well-->
      </div><!-- ./homeNews-->
           <p class="more" ng-show="getAdditionalPosts()" ng-click="showMorePosts()">View More Posts...</p>
      </div>

      <div class="col-sm-12 col-lg-5" style="text-align: right;">
        <div class="row">
          <div class="col-sm-12">
          <h3>Guild Streams</h3>
          <a ui-sref="streams"><img src="assets/images/twitch.jpg"></a>
          </div><!-- ./col-sm-12 -->
        </div><!-- ./row -->
        <div class="row">
        <div class="col-sm-12">
          <h3>Heroic Garrosh Down</h3>
            <img src="assets/images/hcgary.png">
             <br />
          </div><!-- ./col-sm-12 -->
        </div><!-- ./row -->
        <div class="row">
          <div class="col-sm-12">
          <h3>Find out more</h3>
            <img src="assets/images/ts.jpg">
             <br />
          </div><!-- ./col-sm-12 -->
        </div><!-- ./row -->
        <div class="row">
          <div class="col-sm-12">
            <h3>Recent Logs</h3>
            <hr />
            <iframe src="https://www.warcraftlogs.com/guilds/recent_reports/7658/"></iframe>
          </div>
        </div>
      </div><!-- ./col -->
    </div><!-- ./row -->
    <footer class="footer">
      <p>Top Shelf Guild | by
      <a href="https://twitter.com/itsSoop">@itsSoop</a> |
      <a href="http://steventruesdell.com">Website</a></p>
    </footer>
    </div>

