<div ng-controller="NewsEditCtrl as vm">
    <h2>Editing Post:</h2>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{vm.postData.title}}</h3>
    </div>
    <div class="panel-body">
  <form novalidate ng-submit="vm.savePost()">
      <div class="well">
      <div class="row">
        <div class="col-sm-8">
          <input type="text"
                class="form-control"
                placeholder="Post Title"
                ng-minLength=3
                ng-maxLength=75
                ng-model="vm.postData.title"
                required/>
        </div>
        <div class="col-sm-3">
          <div class="input-group" ng-controller="DatepickerCtrl">
            <input type="text"
                   class="form-control"
                   datepicker-popup="{{format}}"
                   ng-model="vm.postData.date"
                   is-open="opened"
                   min-date="minDate"
                   max-date="'2016-06-22'"
                   datepicker-options="dateOptions"
                   placeholder="Date"
                   date-disabled="disabled(date, mode)"
                   close-text="Close"
                         required/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)">
                  <span class="glyphicon glyphicon-calendar"></span>
              </button>
            </span>
          </div>
      </div>
      </div>
      <div class="row" style="padding-left: 15px;">
        <div class="col-sm-10">
            <text-angular ta-toolbar="[['h1','h2','h3','p','quote'],['bold','italics','underline'],['justifyLeft','justifyCenter','ul','ol','indent','outdent','undo','redo'], ['insertLink','insertImage']]" class="textEditor" ng-model="vm.postData.content"></text-angular>
        </div>
      </div>
       <div class="row" style="padding-left: 15px;">
       <hr />
      <div class="col-md-10">
            <textarea class="form-control"
                      placeholder="Description"
                      ng-model="vm.postData.description"
                      rows="3"
                      ></textarea>
                      </div>
      </div>
      <div class="row" style="padding-top:15px;">
        <div class="col-md-3">
          <input type="text"
                 class="form-control"
                 placeholder="tags"
                 ng-model="vm.postData.tagName"
                 ng-list=", "
                 required/>
        </div>
        <div class="col-md-7">
          <input type="text"
                    class="form-control"
                    placeholder="Image URL"
                    ng-model="vm.postData.image"
                    style="padding-left: 15px;"
                    />
        </div>
      </div>
        <div class="row">
          <div class="col-sm-3 col-sm-offset-8" style="padding-top: 15px;">
            <input type="submit" class="btn btn-primary" value="Save Post" />
          </div>
        </div> <!--./row-->
      </div>
    </form>
  </div>
</div>
</div>
