<div class="row">
        <div class="col-sm-8 col-sm-offset-2 backendWrap">
        <h1>Guild Applications</h1>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="addNew()">Add</button>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr style="font-size:14px;">
                        <th>Character Name</th>
                         <th>User</th>
                        <th>Class</th>
                        <th>Spec</th>
                        <th>Armory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="application in applications" ng-class-even="table-striped" style="cursor:pointer">
                        <td>{{application.charName}}</td>
                        <td>{{ application.author.name }}</td>
                        <td>{{application.charClass}}</td>

                        <td>{{application.charSpec}}</td>

                        <td>{{application.charArmory}}</td>
                        <td>
                            <div class="btn-group">
                                <a ui-sref=".applicationEditID"  ng-click="selectApplication(application)"  class="btn btn-sm btn-primary">
                                    <span class="glyphicon glyphicon-eye-open"></span>View</a>

                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a href="" ng-click="deleteApplication(application)" class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>Delete</a>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
