<div ng-controller="ProgressionCtrl as vm">
<div class="row page-content">
<h2>Guild Progression</h2>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Dead</th>
        <th>Edit</th>
      </tr>
    </thead>
      <tr ng-repeat="progression in vm.progressionData">
        <td>{{progression.bossName}}</td>
        <td>{{progression.dead}}</td>
        <td>              <a ui-sref="admin.progressionEdit({progressionId:progression._id})">
                        <i class="fa fa-pencil"></i></a></td>
                      </tr>
                    </table>


          <a ng-click="vm.show()" class="btn btn-success">Add a boss</a>
        </div>
</div>
</div>
