<navbar></navbar>
<div class="container frontendWrap">
<div class="row" ng-controller="GuildRosterCtrl as guildRoster">

<div class="panel-body">
<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th>Character</th><th>Level</th><th>Class</th><th>Specialization</th>
    </tr>
    <tr>
        <th class="text-center">
            <input class="form-control" placeholder="Name..." type="text" ng-model="search.name"/>
        </th>
        <th class="text-center">
            <input class="form-control" placeholder="Level..." type="text" ng-model="search.level"/>
        </th>
        <th class="text-center">
            <input class="form-control" placeholder="Class..." type="text" ng-model="search.classLabel"
                                       typeahead="class for class in guildRoster.classes | filter:$viewValue | limitTo:5"/>
        </th>
        <th class="text-center">
            <input class="form-control" placeholder="Spec..." type="text" ng-model="search.spec"
                                       typeahead="spec for spec in guildRoster.specializations | filter:$viewValue | limitTo:5">
        </th>
    </tr>
    </thead>
    <tbody style="min-height: 500px;">
    <tr ng-repeat="character in guildRoster.getFilteredCharacters() | filter:search:strict | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
        <td class="text-center">{{character.name}}</td>
        <td class="text-center">{{character.level}}</td>
        <td class="text-center">
            <img class="class-icon img-circle"
                ng-src="assets/images/{{character.wowClass.name}}.png"> {{character.class.name}}</td>
        <td class="text-center">{{character.spec}}</td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <pagination total-items="guildRoster.getCharacterCount()" ng-model="currentPage" boundary-links="true"
            rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
            last-text="&raquo;" num-pages="numPages"></pagination>
    </div>
</div>

</div>
</div>
</div>
