<div class="row" ng-controller="ApplicationListCtrl">
<div class="col-sm-12">
       <h2 class="text-primary" style="text-align: right;">Applications</h2>
        <table class="table table-condensed">
          <thead>
              <tr style="font-size:14px;">
                  <th>Name:</th>
                  <th>Class Type:</th>
                  <th>Class Spec:</th>
                  <th>Created:</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="application in applications" ng-class-even="table-striped">
                  <td>{{application.charName}}</td>
                  <td><img ng-src="assets/images/icons/icon_class_{{ application.charClass }}.png" style="padding-right: 10px;" height="30px"></td>

                  <td>{{application.charSpec}}</td>

                  <td>{{application.created}}</td>
                  <td>
                      <div class="btn-group">
                         <a ui-sref='admin.applicationViewID({id:application._id})'>
                           <button class="btn btn-success btn-sm"><i class="fa fa-check-circle-o"></i> View App</button>
                         </a>
                          <a href="" ng-click="deleteApplication(application)">
                          <span class="glyphicon glyphicon-trash"></span></a>
                           
                      </div>
                  </td>
              </tr>
          </tbody>
        </table>
    </div>

</div>