<div ng-controller="NewsEditCtrl as vm">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="text-primary">Editing Post: <small>{{vm.postData.title}}</small></h1>
     <form novalidate ng-submit="vm.savePost()">
     <div class="row">
        <div class="col-sm-12 col-lg-7 form-group">
        <input type="text"
              class="form-control"
              placeholder="Post Title"
              ng-minLength=3
              ng-maxLength=75
              ng-model="vm.postData.title"
              required>
        </div><!-- END -->
        <div class="col-lg-3" ng-controller="DatepickerCtrl">
          <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
            <input type="text" placeholder="Date" class="form-control" ng-model="vm.postData.date" name="date" bs-datepicker>
          </div>
        </div>
     </div> <!-- END row-->
     <div class="row"><!-- textangular -->
      <div class="col-sm-12 col-lg-10">
          <text-angular ta-toolbar="[['h1','h2','h3','p','quote'],['bold','italics','underline'],['justifyLeft','justifyCenter','ul','ol','indent','outdent','undo','redo'], ['insertLink','insertImage', 'insertVideo', 'html']]" class="textEditor" ng-model="vm.postData.content"></text-angular>
      </div>
    </div><!-- END row /textangular-->
    <div class="row">
    <div class="col-sm-12 col-lg-10">
          <textarea class="form-control"
                    placeholder="Description / summary of your post. This will show on the home page and is limited to 140 characters."
                    ng-model="vm.postData.description"
                    rows="3"
                    ></textarea>
      </div>
    </div><!-- END row / description-->
    <div class="row">
      <div class="col-sm-4">
        <input type="text"
                  class="form-control"
                  placeholder="Home Image 750x450"
                  ng-model="vm.postData.image"
                  style="padding-left: 15px;"
                  />
      </div>
      <div class="col-sm-4">
        <input type="text"
                  class="form-control"
                  placeholder="Detailed View Image 1140x450"
                  ng-model="vm.postData.lrgImage"
                  style="padding-left: 15px;"
                  />
      </div>
      </div><!-- END row-->
      <div class="row">
        <div class="col-sm-3 col-sm-offset-8" style="padding-top: 15px;">
          <input type="submit" class="btn btn-primary" value="Save Post" />
        </div>
      </div> <!--./row-->
     </form><!-- END form -->
    </div><!-- END column -->
  </div><!-- END row -->
</div>
