<div class="navbar navbar-default navbar-fixed-top container" ng-controller="NavbarCtrl">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
            <img src="assets/images/logo.png" height="50px;">
        </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/applications')}"><a href="/application">Apply <i class="glyphicon glyphicon-list-alt"></i></a>
            </li>
            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/chat')}"><a href="/chat">Chat <span class="glyphicon glyphicon-comment"></span></a>
            </li>
            <li><a href="https://topshelfguild.com/forums/index.php" target="_blank">Forums <i class="glyphicon glyphicon-fire"></i></a>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up <i class="fa fa-pencil"></i></a>
            </li>
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login <i class="fa fa-sign-in"></i></a>
            </li>


            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/')}" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ getCurrentUser().name }} <i class="glyphicon glyphicon-user"></i><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>
            </li>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Officer Area <i class="glyphicon glyphicon-tower"></i><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-show="isAdmin()" ng-class="{active: isActive('/admin/applications')}"><a href="/admin/applications"><i class="glyphicon glyphicon-list-alt"></i> Applications</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
