<footer id="thefoot" class="footer" role="contentinfo">
    <div id="footer-big">
     <div class="container">
      <div class="row">

        <div class="col-sm-8">
          <h3>Guild Streams</h3>
          <ul class="list-inline">
            <li class="streams-list">
              <h4>Soupy</h4>
              <span ng-if="stream1.game" class="label label-success">Online!</span>
              <span ng-if="!stream1.game" class="label label-danger">Offline</span>
            </li>
            <li class="streams-list">
              <h4>Toxic</h4>
              <span ng-if="stream2.game" class="label label-success">Online!</span>
              <span ng-if="!stream2.game" class="label label-danger">Offline</span>
            </li>
            <li>
              <h4>Teodin</h4>
              <span ng-if="stream3.game" class="label label-success">Online!</span>
              <span ng-if="!stream3.game" class="label label-danger">Offline</span>
            </li>
             <li class="streams-list">
              <h4>Valkr</h4>
              <span ng-if="stream4.game" class="label label-success">Online!</span>
              <span ng-if="!stream4.game" class="label label-danger">Offline</span>
            </li>
            <li class="streams-list">
              <h4>Tink</h4>
              <span ng-if="stream5.game" class="label label-success">Online!</span>
              <span ng-if="!stream5.game" class="label label-danger">Offline</span>
            </li>
          </ul>
        </div>

        <div class="col-sm-4">
          <h3>Resources</h3>
        </div>
        </div><!-- ./row footer-big -->
        </div>
        <div class="row">
          <div id="footer-small">
            <div class="container">
              <span class="pull-right">Top Shelf Guild | by<a href="https://twitter.com/itsSoop"> @itsSoop</a> |
              <a href="http://steventruesdell.com">Website</a></span>
            </div>
          </div>
        </div>
      </footer>
