<footer class="page-footer shadow-z-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <h3>Guild Streams</h3>
        <ul class="list-inline">
          <li class="streams-list">
            <h4>Soupy</h4>
            <span ng-if="stream1.game" class="label label-success">Online!</span>
            <span ng-if="!stream1.game" class="label label-danger">Offline</span>
          </li>
          <li class="streams-list">
            <h4>Toxic</h4>
            <span ng-if="stream2.game" class="label label-success">Online!</span>
            <span ng-if="!stream2.game" class="label label-danger">Offline</span>
          </li>
          <li>
            <h4>Teodin</h4>
            <span ng-if="stream3.game" class="label label-success">Online!</span>
            <span ng-if="!stream3.game" class="label label-danger">Offline</span>
          </li>
           <li class="streams-list">
            <h4>Valkr</h4>
            <span ng-if="stream4.game" class="label label-success">Online!</span>
            <span ng-if="!stream4.game" class="label label-danger">Offline</span>
          </li>
          <li class="streams-list">
            <h4>Tink</h4>
            <span ng-if="stream5.game" class="label label-success">Online!</span>
            <span ng-if="!stream5.game" class="label label-danger">Offline</span>
          </li>
          <li class="streams-list">
            <h4>Abderb</h4>
            <span ng-if="stream6.game" class="label label-success">Online!</span>
            <span ng-if="!stream6.game" class="label label-danger">Offline</span>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-lg-offset-2 col-sm-12">
        <h3>Resources</h3>
        <ul class="list-unstyled">
          <li><a class="" href="#!">Link 1</a></li>
          <li><a class="" href="#!">Link 2</a></li>
          <li><a class="" href="#!">Link 3</a></li>
          <li><a class="" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright shadow-z-2">
    <div class="container">
      © 2014-2015 Top Shelf Guild | Website by <a href="https://twitter.com/itsSoop"> @itsSoop</a>
      <a class="" href="#!">More Links</a>
    </div>
  </div>
</footer>
