<div class="container">
<div class="row">
<div ng-controller="HomeCarouselCtrl as vm" style="background-size: cover; max-height: 400px;">
    <carousel interval="switchInterval">
      <slide ng-repeat="slide in vm.slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </slide>
    </carousel>
</div>
</div>
<!-- end hero carousel -->
<div class="row">
        <section class="tsBlock">

        <h1>Top Shelf<small><span class="attntxt">US Sargeras Mythic Raiding</span></small></h1>
        <h3><i class="fa fa-quote-left fa-1x"></i> Top Shelf is well established and progression oriented. We enjoy long sensual strolls through Orgrimmar, looting purples and killing internet dragons. <i class="fa fa-quote-right fa-1x"></i></h3>
        </section>
</div>

<div class="row globalContentBlock">
  <div class="col-lg-4" ng-controller="HomeCtrl as home">
    <div class="well well-lg">
    <table class="table">
        <h4>Currently Recruiting:</h4>
        <tr ng-repeat="recruit in home.recruits" class="bounceInDown">
        <td>{{recruit.classType}}</td><td> {{recruit.currentStatus}}</td>
          <td><img src="{{recruit.classImage}}"></td></tr>
    </table>
    </div>
    </div>
    <div class="col-lg-8">
      <h1 class="homePageHeader"><i class="linecon-icon-news"></i> Happening on the Shelf:</h1>
        <h3>News Title Here</h3>
        <p>lorem</p>
    </div>  
</div>
<!-- BLURB-LIKE SECTION -->
<div class="row thirdSection">
            <div class="col-sm-12 col-lg-4">
                <span class="blurbs">
                <i class="fa fa-bank fa-5x"></i>
                <h4>HEROIC SALES</h4></span>
                <p style="text-align: justify;">Interested in seeing heroic Siege of Orgrimmar? Missing that Cutting Edge achievement? What about gearing up your toon?
                    Top Shelf sells carries by the wing, 12/14, 13/14 or just the big man himself. Dont miss out, schedule your run today.</p>
                <button type="button" class="btn btn-default pull-right">Default</button>
            </div><!-- col-lg-4 -->

            <div class="col-sm-12 col-lg-4"><span class="blurbs">
                <i class="fa fa-file-code-o fa-5x"></i>
                <h4>RAIDING ADDONS</h4></span>
                <p style="text-align: justify;">One stop resource to pickup all the required and recommended addons for raiding. These addons should be installed prior
                    to your first raid with Top Shelf.</p>
                    <button type="button" class="btn btn-default pull-right">Default</button>
            </div><!-- col-lg-4 -->

            <div class="col-sm-12 col-lg-4"><span class="blurbs">
                <i class="fa fa-trophy fa-5x"></i>
                <h4>Forums</h4></span>
               <p style="text-align: justify;">Our community is what makes Top Shelf who we are. You'll find information about our community Siege of Orgrimmar raids, both 25 heroic and 25 regular.</p>
               <button type="button" class="btn btn-default pull-right">Default</button>
            </div><!-- col-lg-4 -->
        </div><!-- row -->
</div>