#adminSidebar li {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 20px;
  font-family: "Ubuntu";
  border-bottom: solid 1px darken(#141414, 6.5%);
  &:hover {
    background: darken($brand-primary, 6.5%);
    color: $brand-primary-dark;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

  }
}

#adminSidebar .panel-body {
  padding-left: 0;
  padding-right: 0;
}
