<div class="container-fluid" ng-controller="NewsCreateCtrl as ncc">
  <div class="row">
    <h1 class="text-primary">New Post</h1>
    <form novalidate ng-submit="ncc.saveArticle()">
      <div class="col-sm-12 col-md-8" style="margin-right: 20px;">
        <div class="row">

          <input type="text" class="form-control" placeholder="Post Title" ng-minLength=3 ng-maxLength=75 ng-model="ncc.articleData.title"
          required>
        </div>
        <!-- END row-->
        <div class="row">
          <!-- textangular -->

          <text-angular ta-toolbar="[['h1','h2','h3','p','quote'],['bold','italics','underline'],['justifyLeft','justifyCenter','ul','ol','indent','outdent','undo','redo'], ['insertLink','insertImage', 'insertVideo', 'html']]"
          class="textEditor" ng-model="ncc.articleData.content"></text-angular>
        </div>
        <!-- END row /textangular-->
        <div class="row">
          <textarea class="form-control" placeholder="Description / summary of your post. This will show on the home page and is limited to 140 characters."
          ng-model="ncc.articleData.description" rows="3"></textarea>
        </div>
        <!-- END row / description-->
      </div>
      <div class="well col-sm-12 col-md-3">
          <div class="row">
            <div class="col-sm-12">
            <label>Hero Image</label>
            <input type="text" class="form-control" placeholder="Image" ng-model="ncc.articleData.image" style="padding-left: 15px;"
            />
          </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <label>Slug/SEO Title</label>
              <input type="text" class="form-control" placeholder="sluggin" ng-model="ncc.articleData.slug" style="padding-left: 15px;"
              />
            </div>
            <div class="col-sm-12 col-md-6">
              <label>Article Status</label>
              <select ng-model="ncc.articleData.state" class="form-control" required>
                <option value=""></option>
                <option value="Published">Published</option>
                <option value="Draft">Draft</option>
                <option value="Archive">Archive</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3 col-sm-offset-4" style="padding-top: 15px;">
              <input type="submit" class="btn btn-primary" value="Save Article" />
            </div>
          </div>
        </div>    <!--./row-->
    </form>
    <!-- END form -->

    </div>
    <!-- END column -->
  </div>
</div>
<!-- END row -->
