<div ng-controller="NewsCreateCtrl as vm">
  <div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
    <h1 class="header center-on-small-only">New Article</h1>
     <form class="col s12" ng-submit="vm.saveArticle()">
     <div class="row">
        <div class="col s12 m8" input-field>
        <input type="text"
              class="validate"
              id="title"
              ng-minLength=3
              ng-maxLength=75
              ng-model="vm.articleData.title"
              required>
          <label for="title">Article Title</label>
        </div><!-- END -->

     </div> <!-- END row-->
     <div class="row">
     <div class="col s12" input-field>
       <textarea ng-wig="vm.articleData.content" ng-model="vm.articleData.content" class="editor1"></textarea>
      </div>
    </div>
    <div class="row">
    <div class="col s12 m10 offset-m1" input-field>
      <textarea class="materialize-textarea"
                id="descTextArea"
                placeholder="140 characters or less"
                ng-model="vm.articleData.description"
                rows="2"
                ></textarea>
        <label for="descTextArea">Article Description</label>
      </div>
    </div><!-- END row / description-->
    <div class="row">
      <div class="col s6" input-field>
        <input type="text"
                  ng-model="vm.articleData.image"
                  id="smallImage"
                  />
        <label for="smallImage">Home Image</label>
      </div>
      <div class="col s6" input-field>
        <input type="text"
                  id="heroImage"
                  ng-model="vm.articleData.lrgImage"
                  />
            <label for="heroImage">Hero Image</label>
      </div>
      </div><!-- END row-->
      <div class="row">
        <div class="col s8" input-field>
          <input type="text"
                  ng-model="vm.articleData.tags"
                  id="tags"
                  />
            <label for="tags">Tags</label>
        </div>
        <div class="col s4">
        <select class="" ng-model="vm.articleData.state" material-select>
          <option ng-repeat="value in vm.select.choices">{{value}}</option>
      </select>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-4" style="padding-top: 15px;">
          <input type="submit" class="btn btn-primary" value="Create Article" />
        </div>
      </div> <!--./row-->
     </form><!-- END form -->
    </div><!-- END column -->
  </div><!-- END row -->
</div>
