
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-bind-html="post.title" ng-show="post.title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
         <h3 ng-bind-html="post.title" class="modal-title"></h3>
      </div>
      <div ng-bind-html="post.content">{{post.content}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
