<div id="nav-wrapper">
    <ul id="nav"
        ng-controller="AdminSidebarCtrl"
        data-highlight-active>
        <li><a ui-sref="admin"> <i class="fa fa-dashboard"></i>Dashboard </a></li>
        <li>
            <a href="#/ui"><i class="fa fa-magic"></i>UI</a>
            <ul>
                <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i>Buttons</a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i>Other</a></li>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="fa fa-file-text-o"></i><span data-i18n="Pages"></span></a>
            <ul>
                             <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i>Buttons</a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i>Other</a></li>
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="fa fa-table"></i><span data-i18n="Tables"></span></a>
            <ul>
            <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i>Buttons</a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i>Other</a></li>
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="fa fa-pencil"></i><span data-i18n="Forms"></span></a>
            <ul>
                            <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i>Buttons</a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i>Other</a></li>
            </ul>
        </li>
       <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-i18n="Charts"></span></a>
            <ul>
                            <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i>Buttons</a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i>Other</a></li>
            </ul>
        </li>
        <li>
            <a href="#/maps"><i class="fa fa-map-marker"></i><span data-i18n="Maps"></span></a>
            <ul>
                              <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i>Buttons</a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i>Other</a></li>
            </ul>
        </li>

    </ul>
</div>
