<!-- Topbar
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<topbar></topbar>
<!-- home-page container
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="home-page" class="container">
  <div class="row">
    <div class="col-xs-hidden col-sm-hidden col-md-12 col-lg-12">
    <!-- carousel row/column -->
    <div class="carousel-area" ng-controller="HomeCarouselCtrl as carousel">
    <!-- rn-carousel directive start -->
      <ul rn-carousel rn-carousel-auto-slide class="image">
        <li ng-repeat="slide in carousel.slides">
          <img ng-src="{{ slide.image }}" alt="carousel slide">
        </li>
      </ul>
    </div><!-- END carousel-area -->
    <!-- END carousel row/column -->
    </div>
  </div>
<!-- Start News Posts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="row" ng-controller="HomeCtrl as vm">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <!-- Article News Posting -->
      <article class="news-post" ng-repeat="post in vm.posts | orderBy:'-date'">
        <!-- Post Image -->
        <div class="post-image-wrapper">
          <img src="http://placehold.it/750x450">
        </div><!--<img class="post-image" ng-src="{{post.image}}" alt="news post image"> -->
        <!-- END post-image -->
        <div class="post-wrapper box">
          <div class="post-title">
           <h1 class="post-title-text">{{post.title}}</h1>
          </div>
           <div class="post-meta">
           <ul>
           <li>{{ post.date | date:'MMM dd, yyyy' }}</li>
           <li class="divider"></li>
           <li>Posted by {{ post.author.name }}</li>
           </ul>
           </div>
            <div class="post-content">
              <p ng-hide="showMode" ng-bind-html="post.description | limitTo : 140"></p>
              <p ng-hide="!showMode" ng-bind-html="post.description"></p>
            </div><!-- post-content -->
            <div id="post-footer" class="row">
             <button type="button" class="btn btn-block btn-primary pull-right" data-animation="am-fade-and-slide-top"
                  data-template="app/core/directives/newsView/core.viewModal.tpl.html" bs-modal="newsViewModal">Read More</button>
            <div class="post-tags">
              <i class="fa fa-tags"></i>
                <a href="#"><span class="label label-info">Snipp</span></a>
                <a href="#"><span class="label label-info">Bootstrap</span></a>
                <a href="#"><span class="label label-info">UI</span></a>
                </div>
            </div><!-- END post footer -->
        </div><!-- END post-wrapper -->
      </article><!-- END article news-post -->
    </div><!-- END column -->
<!-- Start Right Side aside
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="clearfix"></div>
    <!-- recruitment-aside -->
      <div id="recruitment-widget" class="row panel panel-primary">
        <div class="panel-heading">
        <h2 class="panel-title">Recruitment</h2>
      </div>
      <div class="panel-body">
      <recruiting-panel></recruiting-panel>
      </div>
      </div> <!-- END recruitment-aside -->
      <!-- raidprogress -->
      <div id="progression-widget" class="row panel panel-primary">
              <div class="panel-heading">
              <h3 class="panel-title">Mythic Highmaul</h3></div>
        <div class="panel-body raid-progression">

        <img src="/assets/images/icons/kargath.png" class="boss-killed" height="80px" width="80px">
        <img src="/assets/images/icons/butcher.png" class="boss-killed" height="80px" width="80px">
        <img src="/assets/images/icons/brackenspore.png" class="boss-killed" height="80px" width="80px">
        <img src="/assets/images/icons/tectus.png" class="boss-killed" height="80px" width="80px">
        <img src="/assets/images/icons/twin-ogron.png" class="boss-killed" height="80px" width="80px">
        <img src="/assets/images/icons/koragh.png" class="boss-killed" height="80px" width="80px">
        <img src="/assets/images/icons/imperator.png" height="80px" width="80px">

        </div>
        </div>
        <div id="progression-widget" class="row panel panel-primary">
         <div class="panel-heading">
          <h3 class="panel-title">Mythic Blackrock Foundry</h3></div>
          <div class="panel-body raid-progression">
            <img src="/assets/images/icons/gruul.png" height="80px" width="80px">
            <img src="/assets/images/icons/oregorger.png" height="80px" width="80px">
            <img src="/assets/images/icons/beastlord.png" height="80px" width="80px">
            <img src="/assets/images/icons/hans-and-franz.png" height="80px" width="80px">
            <img src="/assets/images/icons/flamebender.png" height="80px" width="80px">
            <img src="/assets/images/icons/operator.png" height="80px" width="80px">
            <img src="/assets/images/icons/kromog.png" height="80px" width="80px">
            <img src="/assets/images/icons/blastfurnace.png" height="80px" width="80px">
            <img src="/assets/images/icons/iron-maidens.png" height="80px" width="80px">
            <img src="/assets/images/icons/blackhand.png" height="80px" width="80px">
        </div>
      </div> <!-- END recruitment-aside -->
    </aside> <!-- END sidebar -->
  </div><!-- END row -->
</div> <!-- END home -->
<the-footer></the-footer>
