
<div class="container frontendWrap">
<div navbar></div>
<div class="row" ng-controller="HomeCarouselCtrl as carousel">
    <carousel interval="carousel.myInterval" disable-animation="true">
      <slide ng-repeat="slide in carousel.slides" active="slide.active">
        <img ng-src="{{slide.image}}" width="1170px"style="margin:auto;">
      </slide>
    </carousel>
</div>

<div class="row newsContainer" ng-controller="HomeCtrl as home">
  <div class="col-sm-12 col-lg-9">
    <div class="row homeNews"
        ng-repeat="post in home.posts | orderBy:'-date' | limitTo: home.postsShownPerView() | filter:searchText">

      <div class="col-lg-3">

        <img class="postImage" ng-src="{{post.image}}"/>
        </div>
      <div class="col-lg-9">
        <div class="postTitle">
            <h1 class="post-title">{{post.title}}</h1>
        </div>
      <div class="postMeta">
       <h5><i class="ico-calendar2"></i>
       {{post.date | date:'MM/dd/yyyy'}}<span class="sep">|</span>
        Posted by {{post.author.name}}</h5>
      </div>
      <hr />
      <div class="postContent">
        <p ng-hide="showMode" ng-bind-html="post.content | limitTo : 475"></p>
        <p ng-hide="!showMode" ng-bind-html="post.content"></p>
      </div>
      <div class="postFooter">
        <span class="taggedEM"><i class="ico-tags2"></i></span>
        <span ng-repeat="tag in post.tags | postTagsFormat:', ' track by $index">{{tag}}</span>
        <button class="btn btn-primary pull-right" ng-click="openViewModal(post._id)" news-view-modal>Read More</button>
      </div>
      </div>

    </div><!-- end homeNews-->
  </div>
  <div class="col-lg-3 recruitingP">
      <recruiting-panel></recruiting-panel>
<div class="panel">
<div class="recruitmentPanel">
<div class="recruitmentHeader">
    <h2>Kill <span class="recruitmentWhite">Video</span></h2>
</div>
    <youtube-video video-id="home.butcherVideo" player-width="'255px'" player-height="'140px'"></youtube-video>
</div>
</div>
<div class="panel">
<div class="recruitmentPanel">
<div class="recruitmentHeader">
    <h2>Raid <span class="recruitmentWhite">Progress</span></h2>
    </div>
<div style="padding-left:8px;">
<h3><span class="recruitmentWhite">Mythic Highmaul:</span></h3>
<i class="blueIco fa fa-times-circle-o fa-2x"></i>
<i class="blueIco fa fa-times-circle-o fa-2x"></i>
<i class="blueIco fa fa-times-circle-o fa-2x"></i>
<i class="blueIco fa fa-times-circle-o fa-2x"></i>
<i class="blueIco fa fa-times-circle-o fa-2x"></i>
<i class="fa fa-circle-o fa-2x"></i>
<i class="fa fa-circle-o fa-2x"></i>
</div>
</div>

</div>
</div>
  </div>
</div><!-- end news / recruiting row-->
</div>
<the-footer></the-footer>
