<div class="container frontendWrap">
<div class="row">
<div ng-controller="GuildInfoCtrl">
<table>
<tbody ng-repeat="character in guild.data.members">
  <tr><td><img ng-src="http://us.battle.net/static-render/us/{{character.character.thumbnail}}"></td>
  <td>{{ character.character.name }}</td>
  <td>{{ character.character.class | characterClass }}</td>
  <td>{{ character.character.race | characterRace }}</td>
  <td>{{ character.rank | guildRank }}</td>
  </tr>
  </tbody>
  </table>

</div>

</div>
</div>
</div>
<!-- {{ guild.data || members}} <li ng-repeat="character in guild.data.members"> {{ character.character.name }} </li> -->
