<div class="aside left am-slide-left" tabindex="-1" style="display: block;">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <h3 class="whiteText">Editing User</h3>
      </div>
      <div class="aside-body">
        <p ng-bind-html="content">
        <form novalidate ng-submit="saveAUser()">
                          <label>Role</label>
                        <input type="text"
                              label="Role"
                              class="form-control"
                              ng-minLength=3
                              ng-maxLength=75
                              ng-model="user.role"
                              />
                              <label>Battletag</label>
                        <input type="text"
                              label="Battletag"
                              class="form-control"
                              ng-minLength=3
                              ng-maxLength=75
                              ng-model="user.battletag"
                              />
                        <!-- Save Btn-->

                      <button type="submit" style="margin: 10px;" class="btn btn-success btn-block pull-right"><i class="fa fa-save"></i> Save</button>

              </form>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()"><i class="fa fa-close"></i> Close</button>
      </div>
    </div>
  </div>
</div>
