 <div class="row">
 <h1 class="text-primary">Guild Recruitment</h1>
  <p class="lead">Make changes to the guild's recruitment needs.</p>
  <div class="col s12 m4" ng-controller="RecruitmentCtrl">
  <h4>Update Recruitment</h4>
    <form role="form" name="recruitmentStatusForm" ng-submit="submit()">
      <div class="row">
<!--         <select class="" ng-model="formData.classType" material-select>
            <option ng-repeat="ct in classType.options">{{ct}}</option>
        </select> -->
   <select class="browser-default" ng-model="userCountry" ng-options="country.name for country in countries track by country.name"material-select>
   </select>

  <br><br>
  Select your state:<br>
  <select class="browser-default" ng-model="userState" ng-options="state.name for state in ( states | filter: {country: { code: userCountry.code }}) track by state.name" material-select>
  </select>
      <select class="" ng-model="needClass" ng-options="classDef.name for classDef in classDefs track by classDef.name" material-select>
   </select>
     <select ng-model="formData.classSpec" ng-options="specialization.name for specialization in ( specializations | filter: {classType: { name: needClass.name }}) track by specialization.name">
  </select>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
    </div>
    <div class="col s12 m8"ng-controller="RecruitmentListCtrl as vm">
            <h2 class="text-primary" style="text-align: right;">Currently Recruiting</h2>
            <table class="table table-condensed">
              <thead>
                <tr style="font-size:14px;">
                  <th>Class Type:</th>
                  <th>Class Spec:</th>
                  <th>Priority:</th>
                  <th>Status:</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="recruitment in vm.recruitments" ng-class-even="table-striped">
                  <td><img ng-src="assets/images/icons/class/{{ recruitment.classType }}.png" style="padding-right: 10px;" height="30px"></td>
                  <td>{{recruitment.classSpec}}</td>
                  <td>{{recruitment.priority}}</td>
                  <td>{{recruitment.status}}</td>
                  <td>
                    <div class="btn-group">
                      <a href="" ng-click="vm.deleteRecruitment(recruitment)" class="btn btn-sm btn-danger">
                        <span class="mdi-action-delete"></span></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  </div>

