<div class="container-fluid">
<div class="row" ng-controller="AdminCarouselCtrl as vm">
<h2>Carousel Images</h2>
<div class="well well-lg">
      <form class="form-inline" novalidate ng-submit="vm.saveCarousel()">
          <div class="form-group">
                <input type="text"
                      class="input-lg"
                      placeholder="/assets/images/image.jpg"
                      ng-minLength=3
                      ng-maxLength=75
                      placeholder="Image Source"
                      ng-model="vm.slideData.image"
                      required/>
                  </div>
            <input type="submit" style="margin-left: 10px;" class="btn btn-primary" value="Save" />
      </form>
  </div>
  </div>
  <div class="row">
   <div class="col-sm-4 col-lg-3" ng-repeat="slide in vm.slides">
   <img ng-src="{{slide.image}}" class="img-responsive">
   </div>
</div>
</div>
