<div class="row">
  <div class="container app-presentation">
    <h3 class="center-align">Set new password</h3>
    <p class="flow-text center-align">Go ahead and choose a new password.</p>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 l4 offset-m3 offset-l4">
    <div class="card-panel">
      <form class="login-signup-form" name="resetForm" type="password" ng-submit="reset.reset(resetForm)">
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-communication-vpn-key prefix"></i>
          <input class="validate" id="login-password" value="" type="password"  ng-model="reset.password" required>
          <label for="confirm-password">Password</label>
        </div>
        <div class="input-field col s12">
          <i class="mdi-communication-vpn-key prefix"></i>
          <input class="validate" password-match="password" id="confirm-password" name="confirmPassword" value="" type="password"  ng-model="reset.confirmPassword" required>
          <label for="confirm-password">Confirm Password</label>
        </div>
        <div class="input-field col s12 center">
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Reset password
              <i class="mdi-content-send right"></i>
            </button>
          </div>
      </div>
    </form>
    </div>
  </div>
</div>
