
<div class="col-sm-9">
<p class="lead">
Roster Management
</p>
  <div ng-controller="RosterCtrl">
       <button type="button" class="btn btn-success" ng-click="swapData()">Swap Data</button>
      <button type="button" class="btn btn-success" ng-click="addData()">Add Data</button>
      <button type="button" class="btn btn-success" ng-click="removeFirstRow()">Remove First Row</button>
      <button type="button" class="btn btn-success" ng-click="reset()">Reset</button>
      <br>
      <br>
      <div ui-grid="gridOpts" class="grid"></div>
    </div>
</div>
