$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../bower_components/font-awesome/scss/font-awesome";

.text-light {
  padding-bottom: 30px;
}

