<div ng-controller="ResourceCtrl as vm">
  <div class="row page-content">
    <h2>Guild Resources
      <a class="pull-right" href="" ui-sref="resources.create">
        <button class="btn btn-xs btn-danger"><i class="fa fa-plus"></i>Add</button>
      </a>
    </h2>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="resource in vm.resources">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">{{ resource.websiteName }}</h4>
        </div>
        <div class="panel-body">
          <div class="postContent">
            <p ng-hide="showMode" ng-bind-html="resource.resourceDesc | limitTo : 475"></p>
            <p ng-hide="!showMode" ng-bind-html="resource.resourceDesc"></p>
          </div>

          <a class="pull-left" href="" ng-click="vm.deleteResource(resource._id)">
            <button class="btn btn-xs btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </a>
          <a class="pull-left" ui-sref='resources.edit({resourceId: resource._id})'>
            <button class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></button>
          </a>
          <a ng-href="{{resource.websiteUrl}}" target="_blank">
            <button class="btn btn-primary pull-right">View</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
