<!-- Topbar
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<navbar></navbar>
<!-- home-page container
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- carousel row/column -->

    <div class="row">
      <div class="col-sm-12 col-lg-9">
      <div class="carousel-area" ng-controller="CarouselCtrl as carousel">
        <h1 style="text-align: right; padding-right: 20px; padding-bottom: 15px;">
          <span style="color:#333;">Recent</span>
          <span class="blue-text">Kills</span>
        </h1>
        <!-- rn-carousel directive start -->
        <ul rn-carousel rn-carousel-controls rn-carousel-buffered rn-carousel-auto-slide class="image">
          <li ng-repeat="slide in carousel.slides">
            <div class="layer">
              <img ng-src="{{ slide.image }}" class="img-responsive" alt="carousel slide">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- END carousel/news column
          START aside -->
      <aside class="home-sidebar col-lg-3">
        <!-- recruitment widget -->
        <div class="row">
          <div id="recruitment-widget">
            <recruitment-widget></recruitment-widget>
          </div>
        </div>
        <!-- END recruitment widget -->
        <!-- progression widget -->
        <div class="row">
          <div id="progression-widget">
            <progression-widget></progression-widget>
          </div>
        </div>
        <!-- END Progression Widget -->
      </aside>
    </div>
      <!-- END sidebar -->
      <!-- END carousel-area
          START news -->
        <div class="row no-gutters home-page--bottom">
          <div class="container">
          <div class="col-sm-12">
            <div class="" ng-controller="MainCtrl as vm">
              <div class="news-title-container">
                <div class="news-title-bg">
                  <h1 class="news-title">Latest News</h1>
                </div>
              </div>
              <div class="col-md-4" ng-repeat="post in vm.posts | orderBy:'-date'">
                <article class="news-post card">
                  <!-- Post Image -->
                  <div class="post-image-wrapper">
                    <img ng-src="{{post.image}}" class="img-responsive" alt="news post image">
                  </div>
                  <!-- END post-image -->
                  <div class="post-wrapper box">
                    <div class="post-title">
                      <h1 class="post-title-text">{{post.title}}</h1>
                    </div>
                    <div class="post-meta">
                      <ul class="list-inline list-unstyled">
                        <li><i class="fa fa-calendar-o"></i> {{ post.date | date:'MMM dd, yyyy' }}</li>
                        <li class="divider"></li>
                        <li>Posted by {{ post.author.username }}</li>
                      </ul>
                    </div>
                    <div class="post-content">
                      <div ng-bind-html ng-model="post.description"></div>
                    </div>
                    <!-- post-content -->
                    <a ui-sref='guild.main.post({id:post._id})' class="btn btn-md btn-primary">
                          Read More
                          </a>
                  </div>
                  <!-- END post-wrapper -->
                </article>
                <!-- END article admin-news-post -->
              </div>
            </div>
            <!-- END row -->
        </div>
      </div>
    </div>

  <!-- END home -->
<the-footer></the-footer>
