
<div class="row">
<div class="col-sm-8 col-sm-offset-2 backendWrap">
 <ul class="posts" ng-repeat="post in posts | orderBy:'date':reverse | limitTo: postsShownPerView() | filter:searchText">
      <li>{{post.date | date:'MM/dd/yyyy'}}</li>
      <li>
        <h4 class="post-title">{{post.title}}</h4>
        <span class="more" ng-hide="showMode" ng-click="showMode=!showMode">more...</span>
        <span class="more" ng-hide="!showMode" ng-click="showMode=!showMode">less...</span>
      </li>
      <li ng-hide="showMode" ng-bind-html="post.content | limitTo : 475"></li>
      <li ng-hide="!showMode" ng-bind-html="post.content"></li>
      <li>
      <i ng-click="deletePost(post._id)" class="fa fa-trash"></i></button>
        <span class="taggedEM">tagged:</span>
        <span ng-repeat="tag in post.tags | postTagsFormat:', ' track by $index">{{ tag }}</span>  <!-- {{$last ? '':', '}} -->


      </li>
    </ul>
    <p class="more" ng-show="getAdditionalPosts()" ng-click="showMorePosts()">View More Posts...</p>
</div>
</div>
