
<div class="row">
<div class="col-sm-8 col-sm-offset-2 backendWrap">
<div class="row">
<div class="col-sm-12 col-lg-12">
<h1>New Post</h1>
<h6>Create a new post that displays on the homepage</h6>
    <form novalidate ng-submit="createPost()">
      <div class="input-group">

        <!-- newPost.date input-->
        <div class="row">
            <div class="input-group" ng-controller="DatepickerCtrl">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newPost.date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <br>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></button>
              </span>
            </div>
        </div>

        <!-- newPost.title input-->
        <div class="row">
            <input type="text" class="form-control" placeholder="title" ng-minLength=3 ng-maxLength=75 ng-model="newPost.title" ng-required="true" />
          </div>
        <div class="row">

<text-angular ng-model="newPost.content"></text-angular>

</div>
 <!-- newPost.tags input-->
        <div class="row">

            <!-- ng-list - text input that converts between a delimited string and an array of strings -->
            <input type="text" class="form-control" placeholder="tags" ng-model="newPost.tags" ng-list=", " ng-required="true" />

        </div>

        <!-- Save Btn-->
        <div class="row">
            <input type="submit" class="btn btn-primary" value="Save Post" />
        </div>

      </div>  <!-- END OF input-group -->
    </form>
    <ul class="list-group row">
  <li
  ng-repeat="image in post.images"
  class="list-group-item col-sm-3">
    <img ng-src="{{image}}" alt="{{image}}">
    <h6>{{image}}</h6>
  </li>
</ul>
<!-- Media Manager -->
<media-manager current="post" show="showMedia"></media-manager>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-lg-offset-2">
<div class="well">
  <p class="lead">Click the 'Show' button to preview your post.</p>
  <button ng-click="showme=true">Show</button>
  <button ng-click="showme=false">Hide</button>

<div ng-show="showme"class="row">

<h4>Post Preview</h4>
<h6 ng-bind="newPost.title"></h6>
<p ng-bind="newPost.content"></p>

</div>
</div>
  </div>
</div>
</div>
