<div class="row">
  <div class="container app-presentation">
    <h3 class="center-align">Signup</h3>
    <p class="flow-text center-align">Register an account.</p>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 l4 offset-m3 offset-l4">
    <div class="card-panel">
    <form class="login-signup-form" name="signupForm" ng-submit="signup.signup(signupForm)">
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-social-person prefix"></i>
          <input class="validate" type="text" id="signup-name" name="displayName" ng-model="signup.displayName" required>
          <label for="signup-name">Username</label>
        </div>
        <div class="input-field col s12">
          <i class="mdi-communication-email prefix"></i>
          <input class="validate" type="email" id="signup-email" name="email" ng-model="signup.email" required>
          <label for="signup-email">Email Address</label>
        </div>
        <div class="input-field col s12">
          <i class="mdi-action-lock prefix"></i>
          <input type="password" value="" class="validate" ng-model="signup.password" id="signup-password" required>
          <label for="signup-password">Password</label>
        </div>
        <div class="input-field col s12">
          <i class="mdi-communication-vpn-key prefix"></i>
          <input class="validate" password-match="password" id="confirm-password" name="confirmPassword" value="" type="password"  ng-model="signup.confirmPassword" required>
          <label for="confirm-password">Confirm Password</label>
        </div>
        <div class="divider"></div>
         <button class="btn waves-effect waves-green" type="submit" name="action">Signup
          <i class="mdi-content-send right"></i>
        </button>

        <br>
        <p>
        Already have an account? <a ui-sref="account.login">login</a></p>
      </div>
    </form>
    </div>
  </div>
</div>
