h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Khand", "Arial Black" sans-serif;
}

.blue-text {
    color: $tsblue;
}

.inverse-text {
    color: $dark-gray;
}

.sm-caps {
    font-variant: small-caps;
}

.text-light {
    color: #eaeaea;
}

.white-text {
    color: #fff;
}
