@font-face {
    font-family: 'adelle thin';
    src: url('../../assets/fonts/AdelleSans-Thin-webfont.eot');
    src: url('../../assets/fonts/AdelleSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/AdelleSans-Thin-webfont.woff2') format('woff2'),
         url('../../assets/fonts/AdelleSans-Thin-webfont.woff') format('woff'),
         url('../../assets/fonts/AdelleSans-Thin-webfont.ttf') format('truetype'),
         url('../../assets/fonts/AdelleSans-Thin-webfont.svg#adelle_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adelle';
    src: url('../../assets/fonts/AdelleSans-Regular-webfont.eot');
    src: url('../../assets/fonts/AdelleSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/AdelleSans-Regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/AdelleSans-Regular-webfont.woff') format('woff'),
         url('../../assets/fonts/AdelleSans-Regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/AdelleSans-Regular-webfont.svg#adelle_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'brandon';
    src: url('../../assets/fonts/Brandon_reg-webfont.eot');
    src: url('../../assets/fonts/Brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Brandon_reg-webfont.woff2') format('woff2'),
         url('../../assets/fonts/Brandon_reg-webfont.woff') format('woff'),
         url('../../assets/fonts/Brandon_reg-webfont.ttf') format('truetype'),
         url('../../assets/fonts/Brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'brandon', 'Arial Black' sans-serif;
  font-weight: 700;
}

body {
  font-family: 'adelle', 'Helvetica Neue', sans-serif;
}

.blue-text {
    color: $tsblue;
}

.inverse-text {
  color: $dark-gray;
}

.sm-caps {
  font-variant: small-caps;
}

.text-light {
  color: #eaeaea;
}

.white-text {
  color: #fff;
}
