body {
    background-color: #fcfcfc;
}

p.box {
    padding: 20px;
}

p {
    color: rgba(0, 0, 0, 0.71);
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}

nav {
    overflow: hidden;
}

nav a {
    -webkit-font-smoothing: antialiased;
}

nav ul li:hover, nav ul li.active {
    background-color: #ea454b;
}

.header {
    color: #ee6e73;
    font-weight: 300; }

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.preview {
    background-color: #FFF;
    border: 1px solid #eee;
    padding: 20px 20px;
}

.page-content {
  padding: 15px;
  background-color: $lt-grey;
}

// Padding to accomodate sidebar
header, main {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0; }
}

.blue-area {
  background-color: $guild-main;
  padding: 15px;
}

#aside {
  padding-left: 10px;
  padding-right: 10px;
}

article {
    position: relative;
    margin-bottom: 30px;
}

.aside-backdrop {
  opacity: .1;
}

/*******************
  Utility Classes
*******************/

.hide {
  display: none !important;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

// No Text Select
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.waves-effect.waves-blue .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: $guild-blue;
}

// Circle
.circle {
  border-radius: 50%;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0px;
}
