// material icons path
$material-font-path: "../fonts";

$guild-main: #3399cc;
$guild-blue: #3399cc;
$primary-color: #3399cc;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("light-blue", "darken-4");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");

// Greys
$_color-base-grey: rgba(144, 164, 174, .74);
$grey: $_color-base-grey;
$lt-grey: rgb(236, 240, 241);
$md-grey: rgba(59, 62, 64, .52);
$drk-grey: #0A1F29;
$drkr-grey: rgb(21, 21, 21);
$gray-text: #333;
// Blues
$bluegrey: #607D8B;
$indigo: #3F51B5;
$lightblue: #03A9F4;
$cyan: #00BCD4;
// Red
$red: #F44336;
$pink: #E91E63;
// Purple
$purple: #9C27B0;
$deeppurple: #673AB7;
// Greens
$teal: #009688;
$lightgreen: #8BC34A;
$lime: #CDDC39;
// Yellows
$lightyellow: #FFEB3B;
$yellow: #ffeb3b;
$amber: #ffca28;
// Orange
$orange: #FF9800;
$deeporange: #FF5722;
$brown: #795548;

$primary: $guild-main;
$success: #0F9D58;
$info: $lightblue;
$warning: $amber;
$danger: $red;

$icon-color: rgba(0,0,0,0.5);

$darkbg-text: rgba(255,255,255,0.84);
$lightbg-text: rgba(0,0,0,0.84);
