body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Text Coloring

.blue-text {
    color: $guild-main;
}

.inverse-text {
    color: $drk-grey;
}

.sm-caps {
    font-variant: small-caps;
}

.text-light {
    color: $lt-grey;
}

.white-text {
    color: #fff;
}

.yellow-text {
	color: $yellow;
}

// Text Alignment

.left-align {
  text-align: left;
}

.right-align {
  text-align: right
}

.center,
.center-align {
  text-align: center;
}
