body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blue-text {
    color: $tsblue;
}

.inverse-text {
    color: $dark-gray;
}

.sm-caps {
    font-variant: small-caps;
}

.text-light {
    color: #eaeaea;
}

.white-text {
    color: #fff;
}

.yellow-text {
	color: $yellow;
}
