  <div class="mainContent col-xs-12">

    <!-- =====================================================================
    Name Change
    ====================================================================== -->
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-md-offset-3 text-center">  
        <!-- <h3>Change your name</h3> -->
        <p> Your current user name is <em ng-bind="name"></em></p>
        <form name="fmChangeName" class="fmChangeName" novalidate>
          <input type="text" ng-model='newName' placeholder="Enter Name" ng-required="true"/> 
          <button class="btn btn-sm btn-info" ng-click='changeName()' ng-disabled="fmChangeName.$invalid">Change Name</button>
        </form>
      </div>
    </div>
    
    <!-- =====================================================================
    ChatRoom Message Box
    (every 2nd row shall use css dark class)
    ====================================================================== -->
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <h3 class="text-center"><strong>Messages</strong></h3>
        <div id="messages">
          <ul>
            <li class="list-unstyled" ng-repeat="message in messages track by $index" 
              ng-cloak autoscroll ng-class="{dark: $index % 2 === 0}">
              <strong ng-bind="message.user">:</strong> <em ng-bind="message.text"></em>
            </li>
          </ul>
        </div>
      </div>
    </div>
    

    <!-- =====================================================================
    Create New Message
    ====================================================================== -->
    
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center col-md-offset-3">
        <!-- <form name="fmNewMsg" novalidate class="form-inline fmNewMsg" role="form"> -->

        <form name="fmNewMsg" novalidate class="fmNewMsg" role="form">
          <div class = "form-group">
            <label class="sr-only" for="message"></label>
            <input type="text" class="col-md-12 form-control input-lg" ng-model='message' placeholder="Enter Message.." ng-required="true" /> 
              <button class="btn btn-lg btn-danger" ng-click='sendMessage()' ng-disabled="fmNewMsg.$invalid">Send Message</button>
          </div>
        </form>
      </div>
    </div>

  </div> <!-- @END/.mainContent --> 