<div class="container chatContainer">
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="row">
     <div class="chat-container" data-conversationID="{{conversation[0]._id}}">
      <ul class="chat-messages pull-left">
        <li 
          ng-repeat="message in conversation[0].messages"
          ng-click="toolAction($event)" 
          data-messageID="{{message._id}}" 
          data-userID="{{message.userID}}">
          <span class="message-date">{{formatDate(message.date)}}</span>
          <span class="message-name">{{message.name}}:</span>             
          <span class="message-text">{{message.text}}</span>
        </li>
      </ul>

      <ul class="chat-users pull-right">
        <li class="seperator">
          {{conversation[0].online.length}} {{conversation[0].online.length > 1 ? 'Users' : 'User'}}
        </li>

        <li 
          ng-repeat="user in conversation[0].online"
          ng-click="toolAction($event)"
          data-userID="{{user._id}}">
          {{user.name}}
        </li>
      </ul>
    </div>
  </div>

  <div class="chat-participants"></div>

  <form class="chat-form">
    <div class="btn-toolbar" role="toolbar">
      <button 
        type="button" 
        class="btn btn-default glyphicon glyphicon-resize-vertical pull-right"
        ng-class="{'btn-primary': autoScroll}"
        ng-click="toggleAutoScroll()"
        tooltip="Toggle Auto-Scroll"></button>
      <div class="btn-group pull-right">
        <button 
          type="button"
          ng-show="role === 'admin' || role === 'moderator'"
          ng-class="{'btn-primary': controls.ban}"
          ng-click="toggleControls('ban')"
          class="btn btn-default glyphicon glyphicon-ban-circle" 
          tooltip="Toggle Bans"></button>
        <button 
          type="button"
          ng-show="role === 'admin'"
          ng-class="{'btn-primary': controls.moderator}"
          ng-click="toggleControls('moderator')"
          class="btn btn-default glyphicon glyphicon-user" 
          tooltip="Toggle Moderators"></button>
        <button 
          type="button"
          ng-show="role === 'admin' || role === 'moderator'" 
          ng-class="{'btn-primary': controls.mute}"
          ng-click="toggleControls('mute')"
          class="btn btn-default glyphicon glyphicon-eye-close" 
          tooltip="Mute Message"></button>
      </div>
    </div>

    <p class="input-group pull-left send-message">
      <input id="message-input" type="text" class="form-control" placeholder="Send a message">
      <span class="input-group-btn">
        <button type="submit" class="btn" ng-class="{'btn-primary': maySend(), 'btn-disabled': !maySend()}" ng-click="sendMessage()">Send message</button>
      </span>
    </p>
  </form>

</div>