.chatContainer {
    margin-bottom: 50px;
    margin-top: 74px;
    background: #fefefe;
}

.chat-container {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    height: 600px;
    background: #fefefe;
    font-family: 'Myriad Pro', 'Segoe UI', 'Helvetica', 'Arial';
}

ul.chat-messages > li {
    list-style-type: none;
}

ul.chat-messages > li:nth-child(even) {
    background-color: #eee;
}

ul.chat-messages {
    margin: 0;
    padding: 0;
    display: block;
    overflow-y: scroll;
    width: 80%;
    height: 100%;
}

ul.chat-users {
    width: 19%;
    margin: 0;
    padding: 0;
    margin-left: 1%;
}

ul.chat-users > li {
    list-style-type: none;
    display: block;
    width: 100%;
}

ul.chat-users > li.seperator {
    text-align: center;
    font-weight: bold;
}

.message-name {
    font-weight: bold;
}

.message-date {
    color: #999;
}

.send-message {
    margin-top: 5px;
}

.pills {
    margin-top: 10px;
}