<div ng-controller="NewsCreateCtrl" class="backendWrap">
    <form novalidate ng-submit="createPost()">
  <div class="row">
  <div class="col-sm-10">
         <h1>New Post</h1>
         <h5>Create a new post that displays on the homepage</h5></span>
  </div>
  </div>
<div class="row">
<div class="col-sm-10">
                <input type="text"
                      class="form-control"
                      placeholder="Post Title"
                      ng-minLength=3
                      ng-maxLength=75
                      ng-model="newPost.title"
                      required/>
              </div>
   <div class="col-sm-2">
          <div class="input-group" ng-controller="DatepickerCtrl">
            <input type="text"
                   class="form-control"
                   datepicker-popup="{{format}}"
                   ng-model="newPost.date"
                   is-open="opened"
                   min-date="minDate"
                   max-date="'2016-06-22'"
                   datepicker-options="dateOptions"
                   placeholder="Date"
                   date-disabled="disabled(date, mode)"
                   close-text="Close"
                         required/>

  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="open($event)">
    <span class="glyphicon glyphicon-calendar"></span>
    </button>
  </span>
  </div>
</div>
</div><!--./row-->

    <div class="row">
    <text-angular ta-toolbar="[['h1','h2','h3','p','quote'],['bold','italics','underline'],['justifyLeft','justifyCenter','ul','ol','indent','outdent','undo','redo'], ['insertLink','insertImage']]" class="textEditor" ng-model="newPost.content"></text-angular>
    </div>
     <!-- newPost.tags input-->
    <div class="row" style="padding-top:15px;">
    <div class="col-md-3">
        <input type="text"
               class="form-control"
               placeholder="tags"
               ng-model="newPost.tags"
               ng-list=", "
               required/>
                   </div>
                   <div class="col-md-7">
            <input type="text"
                      class="form-control"
                      placeholder="Image URL"
                      ng-model="newPost.image"
                      style="padding-left: 15px;"
                      />
</div>
    </div>
            <!-- Save Btn-->
<div class="row">
    <div class="col-sm-3 col-sm-offset-8" style="padding-top: 15px;">
      <input type="submit" class="btn btn-primary" value="Save Post" />
    </div>
    </div> <!--./row-->
  </form>
</div>
