/* 
 * FOOTER
 * #footer {
  text-align: center;
  background: #232323;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
  width: 100%;

  overflow: hidden;
}
#footer a {
  color: #ccc;
}
#footer a:hover {
  color: #fff;
}
#footer h3.widget-title {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}
 *********************************************************************/

#underfooter {

    overflow: hidden;
  width: 100%;
  background: $dark-blue;
  padding: 15px 0;
  color: $bright-blue;
  font-size: 12px;
}
#underfooter a {
  color: #aaa;
}
#underfooter a:hover {
  color: #fff;
}
#underfooter p {
  margin: 0;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  float: left;
  margin: 0 10px 0 0;
}