body {
  background-image: url(http://i.imgur.com/tCvQ7jH.png);

      background-repeat: no-repeat;
    background-attachment: fixed;
}

.frontendWrap {
  background: #1d1d1d;
  border: 1px solid darken(#1d1d1d, 15%);;
  padding: 20px;
  border-radius: 2px;

}
.backendWrap {
  background: #1d1d1d;
  border: 1px solid darken(#1d1d1d, 15%);;
  padding: 20px;
  border-radius: 2px;
  min-height: 900px;
  overflow-x:hidden;

}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


