body {
  background-image: url(../../assets/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}
.icon-bar {
  color: $tsBlue;
  background-color: $tsBlue;
}

// Separator | <--- with padding lol
.sep {
  padding-left: 6px;
  padding-right: 6px;
}
.spaceRow {
    height: 20px;
    background-color: rgba(52, 152, 219, .65);
}
.frontendWrap {
  padding-top: 80px;
  border: 1px solid rgba(59, 62, 64, 0.52);
  background-color: rgba(26, 26, 26, .85);
}

.footer {
     background: rgba(26, 26, 26, .85);
}

.backendWrap {
  border: 1px solid rgba(59, 62, 64, 0.52);
  background-color: rgba(26, 26, 26, .85);
  padding-left: 15px;
  padding-right: 15px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
