.carouselArea {
    margin-top: -10px;
}
.newsContainer {
    background-color: rgb(20, 21, 23);
    border: 1px none black;
    color: rgb(237, 237, 237);
}
.homeNews {
    padding-bottom: 2px;
    min-height: 100px;
    overflow: hidden;
    background-color: rgb(20, 21, 23);
    padding: 10px;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 1px;

    min-height: 147px;
    zoom: 1;
}
.homeNews:nth-child(odd) {
    background-color: rgb(16, 17, 18);
}
.postMeta {
  font-size: inherit;
}
.taggedEM {
  margin-right: 10px;
  font-style: italic;
  padding-bottom: 15px;
}
.postFooter {
    padding-bottom: 20px;
}
.postImage {
    padding: 15px;
}

ul.posts {
  list-style: none;
  padding: 20px 5px 20px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  break-inside: avoid;
  word-wrap: break-word;/*prevents individual posts from breaking to next column*/
}
li.posts {
  margin: 10px 0;
  cursor: default;
  break-inside: avoid;
  word-wrap: break-word;
}

.recruitmentPanel ul {
  list-style-type: none;
}
