$nav_bg:                $dark;
$nav_border:            darken($nav_bg, 10%);
$sub_nav_bg:            $nav_bg;
$link_color:            $text-color;
$link_active_bg:        $brand-primary;

.navbar-brand {
  padding-top: 10px;
  padding-right: 15px;
}

.navbar-nav > li > a {
  padding-top: 35px !important;
  padding-bottom: none !important;
}

.navbar-text {
  padding-top: 15px;
}
