.recruitingP {
  padding-top: 30px;
  color: #bebebe;
}
.recruitmentHeader {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.recruitmentWhite {
  color: #fff;
}

.class-icon {
    width: 24px;
    height: 24px;
}

.label-member {
    paddding: 2px;
    margin: 2px;
    display: inline-block;
    font-size: 0.9em;
}

ul.pagination {
    margin: 0;
}

.buff-available {
    color: #00be4d;
}

.buff-missing {
    color: red;
}

.remove-roster {
    cursor: pointer;
}
