.recruiting-panel {
 // background-color: rgba(26, 26, 26, .85);
  color: #bebebe;
  padding-top: 30px;
  list-style-type: none;
}

#recruitment-widget {
  ul {
    float:left;
    list-style-type: none;
    &:hover {
      background-color: rgba(0, 0, 0, .4);
      width: 100%;
    }
  }
}

.recruitment-panel-row {
  h2 {
    @include text-shadow(4);
    text-transform: lowercase;
    padding-left: .75em;
  }
}

.recruitment-panel-header {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);

  h2 {
    @include textshadow(.3);
    color: $tsblue;
    font-family: 'Oswald';
    font-weight: 400;
  }
}

.recruitment-white {
  color: #333;
}

.recruitment-status-panel {
  background-color: #3c3c3c;
  padding-top: 10px;
  padding-bottom: 10px;
  @include border-radius-separate(2px, 2px, 2px, 2px);
    //border: 1px solid rgba(59, 62, 64, 0.52);
  ul {
    list-style-type: none;
  }
}

.class-icon {
  width: 24px;
  height: 24px;
}

.label-member {
  padding: 2px;
  margin: 2px;
  display: inline-block;
  font-size: 0.9em;
}

ul.pagination {
  margin: 0;
}

.admin-recruit-panel {
  color: $gray;
}
