/* Wrapper and all data included in the stream thumbnails */
.streamWrapper {
  margin: 5px;
  display: inline-block;
  position: relative;
  border: 6px solid #101010;
  transition: all 250ms ease;
  z-index: 0;
  background: #101010;
  opacity: 0.8;
}

.streamWrapper:hover {
  transform: scale(1.1);
  border-color: white;
  cursor: pointer;
  z-index: 1;
}

.streamWrapper .stream-info {
  position: absolute;
  width: 100%;
  height: 17%;
  bottom: 0;
  opacity: 0.8;
  background: black;
}

.streamWrapper .stream-favorite {
  position: absolute;
  opacity: 0;
  top: -3%;
  left: 90%;
  font-size: 24px;
  padding: 5px;
  transition: all 150ms ease;
}

.streamWrapper .stream-favorite.no {
  color: yellow;
  transition: all 150ms ease;
}

.streamWrapper .stream-favorite.no:hover {
  color: white;
}

.streamWrapper:hover .stream-favorite {
  opacity: 1;
}

.streamWrapper .stream-favorite.yes:hover {
  color: yell

}


.stream-info .stream-title {
  position: absolute;
  display: inline-block;
  top:10%;
  left:0;
  padding: 4px;
}

.stream-info .stream-viewers {
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 80%;
  padding: 4px;
}




.streamWrapper img {
  width: 370px;
}



/* Container for Stream that opens */
.streamContainer {
  position: fixed;
  background-color: rgba(16,16,16,0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.streamContainer .fa-times {
  position: absolute;
  left:95.7%;
  top: 2.5%;
  color: white;
  z-index: 5;
  cursor: pointer;
  font-size: 26px;
  display: inline;

}

object {
  position: fixed;
  width: 95%;
  height: 95%;
  top: 2%;
  left: 2.5%;
}


.fa-eye {
  padding-left: 4px;
}
  /* Transistions for Elements added with Angular JS */
  .ng-enter {
    transition: 1s;
    opacity: 0;
  }

  .ng-enter-active {
    opacity: 1;
  }

  .ng-leave {
    transition: 1s;
    opacity: 1;
  }

  .ng-leave-active {
    opacity: 0;
  }
