
<div class="container">
<div ng-include="'components/navbar/navbar.html'"></div>
<!-- menu -->
<!--<div data-ng-include=" 'admin/layout/aside.tpl.html' " class="col-sm-2"> -->

<!-- / menu -->

<!-- content -->
<div class="row">
<div id="globalAdminBlock" ui-view="admin">
<h1>{{application.charName}}'s Application</h1>
<hr>
<div class="row">
        <div class="col-lg-12">
            <a href="" ng-click="showme=true" class="btn btn-primary btn-info">
                <span class="glyphicon glyphicon-pencil"></span>Edit Application</a>
            <a href="" ng-click="showme=false" class="btn btn-primary btn-success">
                <span class="glyphicon glyphicon-eye-open"></span>View Application</a>
            <div ng-show="showme">
                <form role="form" name="form" ng-submit="saveApplication()" novalidate="" class="ng-pristine ng-invalid ng-invalid-required">

                    <div class="row">
                        <div class="form-group col-xs-6 col-md-4">
                            <label for="nameInput" class="ng-binding">Name</label>
                            <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->

                            <input name="nameInput" ng-model="application.charName" class="form-control" placeholder="Enter Name" />
                            <!--ng-required="streetAddress.required &amp;&amp; streetAddress.visible" required="required">-->

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-6 col-md-4">
                            <label for="creation_datetimeInput" class="ng-binding">Creation_datetime</label>
                            <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->

                            <input type="date" name="creation_datetimeInput" ng-model="reservation.creation_datetime" class="form-control" placeholder="Enter Creation_datetime" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-6 col-md-4">
                            <label for="headcountInput" class="ng-binding">Headcount</label>
                            <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->

                            <input name="headcountInput" ng-model="reservation.headcount" class="form-control" placeholder="Enter Headcount" />
                            <!--ng-required="streetAddress.required &amp;&amp; streetAddress.visible" required="required">-->

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-6 col-md-4">
                            <label for="reservation_datetimeInput" class="ng-binding">Reservation_datetime</label>
                            <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->

                            <input type="date" name="reservation_datetimeInput" ng-model="reservation.reservation_datetime" class="form-control" placeholder="Enter Reservation_datetime" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-6 col-md-4">
                            <label for="guest_idInput" class="ng-binding">Guest_id</label>
                            <!--<span ng-hide="!streetAddress.required" style="padding-left: 8px" class="ng-binding">(required)</span>-->

                            <select name="guest_idInput" ng-model="reservation.guest_id" class="form-control" ng-options="item._id as item.name for item in guestList"></select>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-4">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$error.required" disabled="disabled">
                                <span class="ng-binding">Save</span>
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-hide="showme">
                <h1 class="ng-binding"></h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{application.charName}} {{application.btag}}
                    </div>
                    <div class="panel-body">
                        <h4>Class:</h4><pre>{{application.charClass}}</pre>
                        <h4>Spec:</h4><pre>{{application.charSpec}}</pre>
                        <h4>Offspec</h4><pre>{{application.charOffSpec}}</pre>
                        <h4>Armory:</h4><pre>{{application.charArmory}}</pre>
                        <h4>Logs</h4><pre>{{application.charLogs}}</pre>
                        <h4>Heroic Exp:</h4><pre>{{application.heroicXP}}</pre>
                        <h4>Guild History:</h4><pre>{{application.pastGuilds}}</pre>
                        <h4>Microphone:</h4><pre>{{application.microphone}}</pre>
                        <h4>PC Specs:</h4><pre>{{application.pcSpecs}}</pre>
                        <h4>UI Screenshot:</h4><pre>{{application.uiScreenshot}}</pre>
                        <h4>Why Top Shelf?</h4><pre>{{application.whyTS}}</pre>
                    </div>
                </div>
            </div>
        </div>
        <!-- end 12 col -->
    </div>
    <!-- end row-->

    </div>
</div>
</div>
<!-- End container -->