<div class="container frontendWrap">
  <div class="row heroContainer">
    <div class="col-sm-12 col-lg-9" style="padding-top:10px;">
      <img src="assets/images/hero.jpg">
      <h1>Recruiting for WoD</h1>
      <p class="lead">Join us as we take on Draenor</p>
    </div>
    <sidebar class="recruitmentPanel col-sm-12 col-lg-3"></sidebar>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <ul class="posts" ng-repeat="post in posts | orderBy:'date' | limitTo: postsShownPerView() | filter:searchText">
          <li>{{post.date | date:'MM/dd/yyyy'}}</li>
          <li>
            <h1 class="post-title">{{post.title}} {{post.author}}</h1>
            <span class="more" ng-hide="showMode" ng-click="showMode=!showMode">more...</span>
            <span class="more" ng-hide="!showMode" ng-click="showMode=!showMode">less...</span>
          </li>
          <li ng-hide="showMode" ng-bind-html="post.content | limitTo : 475"></li>
          <li ng-hide="!showMode" ng-bind-html="post.content"></li>
          <li><span class="taggedEM">tagged:</span><span ng-repeat="tag in post.tags | postTagsFormat:', ' track by $index">{{tag}}</span></li>
        </ul>
        <p class="more" ng-show="getAdditionalPosts()" ng-click="showMorePosts()">View More Posts...</p>
      </div>
      <div class="col-sm-12 col-lg-6" style="text-align: right;">
        <div class="row">
          <div class="col-sm-12">
          <h3>Our raids are streamed</h3>
          <img src="assets/images/twitch.jpg">

          </div><!-- ./col-sm-12 -->
        </div><!-- ./row -->
        <div class="row">
          <div class="col-sm-12">
          <h3>Find out about Top Shelf</h3>
            <img src="assets/images/ts.jpg">
             <br />
          </div><!-- ./col-sm-12 -->
        </div><!-- ./row -->
        <div class="row">
          <div class="col-sm-12">
          <h3>Clever as fuck</h3>
            <img src="assets/images/ts.jpg">
             <br />
          </div><!-- ./col-sm-12 -->
        </div><!-- ./row -->
      </div><!-- ./col -->
    </div><!-- ./row -->
    <footer class="footer">
      <p>Top Shelf Guild | by
      <a href="https://twitter.com/itsSoop">@itsSoop</a> |
      <a href="http://steventruesdell.com">Website</a></p>
    </footer>
