<form id="lsform" ng-submit="register(form)" name="form" novalidate>
  <fieldset>
    <img src="/assets/images/crown.svg" alt="crown" height="90px" style="padding-bottom: 15px;">
    <!-- Username -->
    <div class="input-group input-group-lg" ng-class="{ 'has-error' : form.username.$invalid && form.name.$dirty }">
      <span class="input-group-addon">
        <span class="icon-user-outline"> </span>
      </span>
      <input class="form-control"
             type="text"
             name="username"
             ng-model="user.name"
             placeholder="Username" required autofocus>
             <div class="help-block text-danger"
                  ng-if="form.username.$dirty"
                  ng-messages="form.username.$error">
               <div ng-message="required">You must enter a username.</div>
             </div>
    </div>
<!--Email-->
    <div class="input-group input-group-lg" ng-class="{ 'has-error' : form.email.$invalid && form.email.$dirty }">
      <span class="input-group-addon">
        <span class="icon-email-plane"> </span>
      </span>
      <input class="form-control" type="email" id="email" name="email" ng-model="user.email" placeholder="Email" required
      ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
      <div class="help-block text-danger" ng-if="form.email.$dirty" ng-messages="form.email.$error">
          <div ng-message="required">Your email address is required.</div>
          <div ng-message="pattern">Your email address is invalid.</div>
      </div>
      </div>
      <div class="input-group input-group-lg" ng-class="{ 'has-error' : form.battletag.$invalid && form.battletag.$dirty }">
        <span class="input-group-addon">
          <span class="icon-atom"> </span>
        </span>
        <input class="form-control input-lg"
               type="text"
               name="battletag"
               ng-model="user.battletag"
               placeholder="Battletag#123" required>
               <div class="help-block text-danger"
                    ng-if="form.battletag.$dirty"
                    ng-messages="form.battletag.$error">
                 <div ng-message="required">You must enter a battletag.</div>
               </div>
      </div>
    <br>
    <div class="input-group input-group-lg">
      <span class="input-group-addon">
        <span class="icon-lock"> </span>
      </span>
      <input class="form-control" type="password" name="password" ng-model="user.password" placeholder="•••••••••••" required>
    </div>
    <br>
    <div class="submit">
        <input type="submit" value="Signup" class="btn-login"/>
        <div class="ease"></div>
      </div>
  </fieldset>
  <section>

    <p class="text-center text-muted text-small">Already have an account? <a ui-sref="app.login">Login</a>
    </p>
  </section>
</form>
