@import url(//fonts.googleapis.com/css?family=Khand:400,500|Roboto:300,400,500);

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: $tsBlue;
}
body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
      color: #bebebe;
}
.blueText {
    color: $tsBlue;
}
.smCaps {
    font-variant: small-caps;
}

.text-light {
  padding-bottom: 30px;
  color: $tsBlue;
}
