<div class="backendWrap" ng-controller="ResourceCreateCtrl as vm">
  <div class="row">
  <div class="col-sm-12">
            <h1>New Resource</h1>

            <p class="lead">The resources area provides access to organizational tools for managing the guild.</p>
            <p>Currently the only implemented feature is a tool for recruitment thread management. You are able to create, update and view a list of all posts on the various websites so that all officers are on the same page.</p>
    </div>
    </div>
    <div class="well">
      <form novalidate ng-submit="vm.saveResource()">
        <div class="row">
              <div class="col-sm-4 col-md-5">
              <label>Website Name:</label>
                <input type="text"
                      class="form-control"
                      placeholder="MMO-Champion"
                      ng-minLength=3
                      ng-maxLength=75
                      ng-model="vm.resourceData.websiteName"
                      required/>
              </div>
              <div class="col-sm-8 col-md-7">
                <label>URL:</label>
                  <input type="text"
                         class="form-control"
                         placeholder="http://www.mmo-champion.com"
                         ng-model="vm.resourceData.websiteUrl"
                         />
              </div>
        </div>
        <div class="row" ng-show="vm.toggle">
            <div class="col-sm-12">
                <text-angular ta-toolbar="[['h1','h2','h3','p','quote'],['bold','italics','underline'],['justifyLeft','justifyCenter','indent','outdent','undo','redo'], ['insertLink']]" class="textEditor" ng-model="vm.resourceData.resourceDesc"></text-angular>
            </div>
        </div>
                <!-- Save Btn-->
          <div class="row" style="padding-top: 20px; padding-right: 15px;">
              <input type="submit" class="btn btn-primary pull-right" value="Save" />
          </div> <!--./row-->
      </form>
       <button class="btn btn-success" ng-click="vm.toggle = !vm.toggle">Add Description</button>
    </div>
</div>
