<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Top Shelf - Sargeras US Mythic Raiding Guild</title>
  <base href="/">
  <meta name="description" content="Top Shelf is a World of Warcraft mythic raiding guild on Sargeras US. Formed
  in Mists of Pandaria, we are looking to conquer Warlords of Draenor and beyond. Top Shelf is always recruiting
  new members.">
  <meta name="referrer" content="always">
  <meta property="og:image" content="https://topshelfguild.com/assets/images/logo.png">
  <meta property="og:title" content="Top Shelf - Sargeras Raiding Guild">
  <meta property="og:description" content="Top Shelf is a World of Warcraft mythic raiding guild on US-Sargeras">
  <meta property="og:url" content="https://topshelfguild.com">
  <meta property="og:site_name" content="Top Shelf">
  <meta property="og:type" content="website">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
  <meta name="msapplication-TileImage" content="/assets/faves/mstile-144x144.png">

   <!-- build:css styles/lib.css -->
    <link rel="stylesheet" href="/.tmp/vendor.css">
    <!-- inject:bower:css -->
    <link rel="stylesheet" href="/bower_components/valitycss/dist/vality.css">
    <link rel="stylesheet" href="/bower_components/angular-carousel/dist/angular-carousel.css">
    <link rel="stylesheet" href="/bower_components/v-modal/dist/v-modal.css">
    <!-- endinject -->
    <!-- endbuild -->
    <!-- build:css styles/app.css-->
    <!-- inject:css -->
    <link rel="stylesheet" href="/.tmp/style.css">
    <!-- endinject -->
    <!-- endbuild -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/faves/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/faves/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/faves/apple-touch-icon-144x144.png">
  <link rel="icon" type="image/png" href="/assets/faves/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/faves/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/faves/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/faves/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
</head>

<body ng-app="app" ng-strict-di>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<header ng-controller="SidebarCtrl as sidebar">
    <div class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav" data-sidenav="left" data-closeonclick="false">
        <i class="mdi-navigation-menu"></i></a>
    </div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo">
      <a id="logo-container" ui-sref="guild.main" class="brand-logo">
        <img src="/img/logo.png" class="guild-logo" alt="Top Shelf Guild logo">
      </a>
    </li>
    <li class="no-padding" ng-if="sidebar.isAuthenticated()">
      <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-ripple waves-blue active">
              My Account</a>
              <div class="collapsible-body">
                  <ul>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="account.profile">
                       <i class="mdi-action-account-box"></i> Profile</a>
                      </li>
                      <li>
                        <a class="waves-effect waves-blue" href="#" ng-click="sidebar.logout()">
                         <i class="mdi-action-lock-open"></i> Logout</a>
                      </li>
                  </ul>
              </div>
          </li>
      </ul>
    </li>
    <li class="bold">
      <a href="#!" ui-sref="guild.main" class="waves-effect waves-blue">
      <i class="mdi-action-home"></i> Home</a>
    </li>
    <li class="bold">
      <a href="#" class="waves-effect waves-blue">
      <i class="mdi-social-pages"></i> Apply</a>
    </li>

    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-blue active">
              Guild Info</a>
              <div class="collapsible-body">
                  <ul>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="guild.apply.info">
                        <i class="mdi-action-info"></i> Recruitment</a>
                      </li>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="guild.information">
                        <i class="mdi-action-help"></i> About Us</a>
                      </li>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="guild.roster">
                        <i class="mdi-communication-contacts"></i> Roster</a>
                      </li>
                  </ul>
              </div>
          </li>
      </ul>
    </li>
    <li class="bold">
      <a class="waves-effect waves-blue" href="https://topshelfguild.com/forums/" target="_blank">
       <i class="mdi-communication-forum"></i> Forums</a>
    </li>
    <li class="no-padding" ng-if="sidebar.isAuthenticated() && sidebar.isAdmin">
      <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-ripple waves-blue active">
              <i class="mdi-navigation-apps"></i> Admin</a>
              <div class="collapsible-body">
                  <ul>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="admin">
                        <i class="mdi-action-dashboard"></i> Dashboard</a>
                      </li>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="admin.news">
                        <i class="mdi-editor-insert-drive-file"></i> News</a>
                      </li>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="admin.carousel">
                        <i class="mdi-image-slideshow"></i> Slider</a>
                      </li>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="admin.recruiting">
                        <i class="mdi-social-group-add"></i> Recruiting</a>
                      </li>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="admin.resources">
                        <i class="mdi-communication-call-made"></i> Resources</a>
                      </li>
                      <li>
                        <a class="waves-effect waves-blue" ui-sref="admin.media">
                        <i class="mdi-file-cloud-circle"></i> Media</a>
                      </li>
                  </ul>
              </div>
          </li>
      </ul>
    </li>
    <li class="bold" ng-if="!sidebar.isAuthenticated()">
      <a class="waves-effect waves-blue" ui-sref="account.signup"><i class="mdi-action-exit-to-app"></i> Sign up</a>
    </li>
    <li class="bold" ng-if="!sidebar.isAuthenticated()">
      <a class="waves-effect waves-blue" ui-sref="account.login"><i class="mdi-action-account-circle"></i>Login</a>
    </li>

  </ul>
</header>
<main>
  <div ui-view="main"></div>
  </main>
    <!-- END home -->
<the-footer></the-footer>

 <!-- build:js js/lib.js -->
  <!-- inject:bower:js -->

    <script src="/bower_components/modernizr/modernizr.js"></script>

    <script src="/bower_components/jquery/dist/jquery.js"></script>

    <script src="/bower_components/lodash/lodash.js"></script>

    <script src="/bower_components/materialize/bin/materialize.js"></script>

    <script src="/bower_components/angular/angular.js"></script>

    <script src="/bower_components/angular-resource/angular-resource.js"></script>

    <script src="/bower_components/angular-messages/angular-messages.js"></script>

    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>

    <script src="/bower_components/angular-animate/angular-animate.js"></script>

    <script src="/bower_components/ngstorage/ngStorage.js"></script>

    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/bower_components/angular-touch/angular-touch.js"></script>

    <script src="/bower_components/es5-shim/es5-shim.js"></script>

    <script src="/bower_components/ui-router-extras/release/ct-ui-router-extras.js"></script>

    <script src="/bower_components/angular-materialize/src/angular-materialize.js"></script>

    <script src="/bower_components/satellizer/satellizer.js"></script>

    <script src="/bower_components/angular-carousel/dist/angular-carousel.js"></script>

    <script src="/bower_components/angular-file-upload/angular-file-upload.js"></script>

    <script src="/bower_components/v-modal/dist/v-modal.js"></script>

    <!-- endinject -->

  <!-- endbuild -->
    <!-- build:js js/app.js -->
  <!-- inject:js -->
    <script src="src/client/app/app.module.js"></script>
    <script src="src/client/app/app.config.js"></script>
    <script src="src/client/app/account/account.module.js"></script>
    <script src="src/client/app/admin/admin.module.js"></script>
    <script src="src/client/app/core/core.module.js"></script>
    <script src="src/client/app/guild/guild.module.js"></script>
    <script src="src/client/app/core/core.config.js"></script>
    <script src="src/client/app/admin/news/create/NewsCreate.controller.js"></script>
    <script src="src/client/app/admin/news/edit/newsEdit.controller.js"></script>
    <script src="src/client/app/admin/resources/create/resourceCreate.controller.js"></script>
    <script src="src/client/app/admin/resources/edit/resourceEdit.controller.js"></script>
    <script src="src/client/app/admin/users/details/userDetails.controller.js"></script>
    <script src="src/client/app/core/directives/footer/footer.controller.js"></script>
    <script src="src/client/app/core/directives/footer/footer.directive.js"></script>
    <script src="src/client/app/core/directives/mongoose/mongoose-error.directive.js"></script>
    <script src="src/client/app/guild/guild-directives/progressionWidget/progressionWidget.controller.js"></script>
    <script src="src/client/app/guild/guild-directives/progressionWidget/progressionWidget.directive.js"></script>
    <script src="src/client/app/guild/guild-directives/recruitmentWidget/recruitmentWidget.controller.js"></script>
    <script src="src/client/app/guild/guild-directives/recruitmentWidget/recruitmentWidget.directive.js"></script>
    <script src="src/client/app/guild/main/article-detail/details.controller.js"></script>
    <script src="src/client/app/account/account.controller.js"></script>
    <script src="src/client/app/account/account-services/user.service.js"></script>
    <script src="src/client/app/account/account-services/userData.service.js"></script>
    <script src="src/client/app/account/signup/signup.controller.js"></script>
    <script src="src/client/app/account/login/login.controller.js"></script>
    <script src="src/client/app/admin/carousel/carousel.controller.js"></script>
    <script src="src/client/app/admin/dashboard/dashboard.controller.js"></script>
    <script src="src/client/app/admin/media/adminMedia.controller.js"></script>
    <script src="src/client/app/admin/news/adminDatePicker.controller.js"></script>
    <script src="src/client/app/admin/news/newsList.controller.js"></script>
    <script src="src/client/app/admin/recruiting/recruitment.controller.js"></script>
    <script src="src/client/app/admin/recruiting/recruitmentList.controller.js"></script>
    <script src="src/client/app/admin/resources/adminResource.controller.js"></script>
    <script src="src/client/app/admin/services/resource.service.js"></script>
    <script src="src/client/app/admin/users/users.controller.js"></script>
    <script src="src/client/app/core/components/oauth.const.js"></script>
    <script src="src/client/app/core/components/sidebar.controller.js"></script>
    <script src="src/client/app/core/filters/className.filter.js"></script>
    <script src="src/client/app/core/filters/rankName.filter.js"></script>
    <script src="src/client/app/core/filters/startFrom.filter.js"></script>
    <script src="src/client/app/core/services/logger.service.js"></script>
    <script src="src/client/app/guild/apply/application.controller.js"></script>
    <script src="src/client/app/guild/guild-services/armory.service.js"></script>
    <script src="src/client/app/guild/guild-services/article.service.js"></script>
    <script src="src/client/app/guild/guild-services/progression.service.js"></script>
    <script src="src/client/app/guild/guild-services/recruitment.service.js"></script>
    <script src="src/client/app/guild/guild-services/slide.service.js"></script>
    <script src="src/client/app/guild/info/info.controller.js"></script>
    <script src="src/client/app/guild/main/carousel.controller.js"></script>
    <script src="src/client/app/guild/main/main.controller.js"></script>
    <script src="src/client/app/guild/roster/roster.controller.js"></script>
    <!-- endinject -->

  <!-- endbuild -->
</body>

</html>
