<div class="backendWrap" style="padding-top:60px;">
  <div class="row" ng-controller="NewsListCtrl as vm">

   <table class="table table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="post in vm.posts | orderBy:'date':reverse">
      <td>{{post.date | date:'MM/dd/yyyy'}}</td>
      <td>{{post.title}}</td>
      <td ng-bind-html="post.content | limitTo : 100"></td>
      <td>
        <a ui-sref='admin.newsEdit({postId: post._id})'>
          <i class="fa fa-pencil"></i></a> | <i ng-click="vm.deletePost(post._id)" class="fa fa-trash"></i>
      </td>
    </tr>
    </tbody>
   </table>
  </div>
</div>
