<div class="row" ng-controller="NewsListCtrl as vm">
<div class="container">
 <table class="table table-hover">
    <thead>
        <th>Date</th>
        <th>Title</th>
        <th>Summary</th>
    </thead>
    <tbody>
    <tr ng-repeat="post in vm.posts | orderBy:'date':reverse">
      <td>{{post.date | date:'MM/dd/yyyy'}}</td>
      <td>{{post.title}}</td>
      <td ng-bind-html="post.content | limitTo : 100"></td>
      <td>
        <a ui-sref='admin.newsEdit({postId: post._id})'>
          <i class="fa fa-pencil"></i></a> | <i ng-click="vm.deletePost(post._id)" class="fa fa-trash"></i>
      </td>
    </tr>
    </tbody>
   </table>
   </div>
</div>
