<footer>
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <h5 class="white-text">Footer Content</h5>
      <p class="grey-text text-lighten-4">Filler text</p>
    </div>
    <div class="col-sm-12 col-lg-4 col-lg-offset-2">
      <h5 class="white-text">Resources</h5>
      <ul class="list-unstyled">
        <li><a class="list-unstyled" href="http://www.wowprogress.com/guild/us/sargeras/Top+Shelf" target="new_blank">WoW Progress</a></li>
        <li><a class="list-unstyled" <a href="http://guildox.com/guild/us/sargeras/Top%20Shelf" target="new_blank">GuildOx</a></li>
        <li><a class="list-unstyled" href="https://www.warcraftlogs.com/guilds/7658/" target="_blank">WarcraftLogs</a></li>
      </ul>
    </div>
</div>
<div class="footer-copyright">
    © 2014-2015 Top Shelf Guild | Website by <a class="grey-text text-lighten-4 right" href="https://twitter.com/itsSoop">@itsSoop</a>
</div>
</footer>
