<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl as nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="nav.isCollapsed = !nav.isCollapsed" aria-controls="navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="guild.home" rel="home">
                <img src="/assets/img/logo.png" height="60px" class="brand-image" alt="Top Shelf Guild logo">
            </a>
        </div>

        <div id="navbar" class="navbar-collapse" ng-class="{collapse: nav.isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-link"><a ui-sref="guild.home">Home</a></li>
                <li class="nav-link"><a ui-sref="guild.info">Info</a></li>
                <li class="nav-link"><a ng-href="https://topshelfguild.com/forums/applicationform/raider.2/form" target="_blank" trustAsHtml>Apply</a></li>
                <li class="nav-link"><a ui-sref="guild.roster">Roster</a></li>
                <li class="nav-link"><a ui-sref="guild.raids">Raids</a></li>
                <li class="nav-link"><a ui-sref="guild.videos">Kill Videos</a></li>
                <li class="nav-link"><a ng-href="https://topshelfguild.com/forums/" target="_blank" trustAsHtml>Forums</a></li>
                <li class="nav-link" ng-show="nav.isAdmin()">
                    <a ui-sref="admin.dashboard"> Admin</a>
                </li>
                <li class="nav-link" ng-if="!nav.isLoggedIn()">
                    <a ui-sref="account.signup">Sign up</a>
                </li>
                <li class="nav-link" ng-if="!nav.isLoggedIn()">
                    <a ui-sref="account.login"> Login</a>
                </li>
                <li class="dropdown" ng-if="nav.isLoggedIn()" dropdown>
                   <a ui-sref="account.user({id: user._id})">{{nav.getCurrentUser().username}}</a>
                    <a href="#" class="dropdown-toggle" role="button" aria-expanded="false" dropdown-toggle>
                        <i class="fa fa-sort-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="account.profile">Account</a></li>
                        <li><a ng-click="nav.logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/.container-->
</nav>
<!--/nav-->
