<div ng-controller="ShellCtrl as vm">
    <header class="clearfix">
    <top-nav></top-nav>
    </header>
    <section id="content" class="content">
       <!-- <div ng-include="'app/core/layout/sidebar.html'"></div>-->

        <div ui-view></div>
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-if="vm.isAuthenticated() && vm.isAdmin">
          <a class="btn-floating btn-large red" data-activates="slide-out" data-sidenav="left" data-closeonclick="false">
            <i class="large mdi-navigation-menu"></i>
          </a>
        <ul>
          <li><a class="btn-floating red" ui-sref="admin"><i class="large mdi-action-dashboard"></i></a></li>
          <li><a class="btn-floating yellow darken-1" ui-sref="news"><i class="large mdi-editor-insert-drive-file"></i></a></li>
          <li><a class="btn-floating green" ui-sref="media"><i class="mdi-file-cloud-circle"></i></a></li>
          <li><a class="btn-floating blue" ui-sref="recruit"><i class="large mdi-social-group-add"></i></a></li>
        </ul>
      </div>
    </section>
    <footer class="main-footer">
<the-footer></the-footer>
    </footer>
</div>
